app/tmp/sessions/ses*
!empty
.project/
dummy
app/tmp/logs/*
app/tmp/cache/*
.DS_Store
*.swp
static
static/*/**
aws_credential_file
.elasticbeanstalk
app/tmp/cache/persistent
tests/**/diffs/*
tests/**/results/*
.sass-cache
node_modules/*
tests/**/*