/* The add-to-cart panel can be seen on the product-detail page and list-view search results */
.addToCart{
	
	width: 100%;
	padding: 0;

	&.formStyle{
		label{
			width: 24%;
			text-align: right;
			vertical-align: top;
		}
		.fullWidth label{
			text-align: left;
			width: 100%;
		}
		.field{
			width: 72%;
			display: inline-block;
		}

		@media (max-width: 767px){
			label { text-align: left;}
			label, input, select, textarea{
				display: block;
				width: 100%;
			}
		}
		.validation-container[data-validation-invalidTypes]:after{
			margin-left: 26%; // 24% + left margin of input
		}
		.fullWidth.validation-container[data-validation-invalidTypes]:after{
			margin-left: 0;
		}
	}
	
	li{
		
		padding: px($paddingUnit) px($paddingUnit * 2);
		border-bottom:1px solid #dedcda;
		border-top: 1px solid white;
		background-color: $superLightGrey;
		
		&:first-child{
			@include border-radius(px($borderRadius) px($borderRadius) 0 0);
		}
		&.action{ /* Handle the bottom border */
			@include border-radius(0 0 px($borderRadius) px($borderRadius));
			//.icon-16-heart-grey{
				//margin-left: 11px; /* center the add to wish list button under the add to cart */
				//}
			border-bottom: 0;
		}
		label{
			margin: px($paddingUnit+3) 1% 0 0;
			display: inline; /* IE */
			display: inline-block;
			//float: left;
		}
		input, select{
			width: auto;
			max-width: 70%;
			float: none;
			display: inline;
			display: inline-block;
		}
		@include clearfix;
	}
	.productPrice{ 
		font-size: px(30px);
		line-height: 1em;
		font-weight: bold;
	}
	.productMsrp{ text-decoration: line-through; }
	.productDiscount{ font-weight: bold; }
	.productAvailability{
		.status{
			font-weight: bold;
			font-size: 13px;
			color: black;
			background-color: transparent;
			padding-left: 0;
		}
		.shortStatus{
			display: none;
		}
		.details{
			.method{    
				&:before{
					content: '(';
				}
				&:after{
					content: ')';
				}
			}
		}
	}
	.price{ 
		background-color: white;
		.productGrouping{ 
			color: $grey;
			font-size: 13px;
		}
		.details{ display: block; }
	}
	.quantity{
		input{ float: none; width: px(70px); }
	}
	.productAvailability{ background-color: white; }
	.action{
		.customize{ display: none; }
		.b1{ 
			margin-bottom: px($paddingUnit);
			margin-left: 0;
			margin-right: 2px;
		}
		.b5[data-action="addToWishlist"]{ 
			display: block;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		> a{ display:block; }
	}
}


*[data-stockmessage*="Temporarily unavailable"][data-hasOptions="false"],
*[data-stockmessage*="Temporarily unavailable"][data-hasOptions="true"][data-numberOfOptions="0"]
{
	.productAvailability{
		background-color: $superLightGrey;
	}
	li.quantity,
	li.action,
	li.option{
		display: none;
	}
}
