.productAd,
.businessAd{
	
	position: relative;
	font-size: 13px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	text-decoration: none;

	.h2{
		margin-top: 0;
	}
	.content{
		background-color: $superLightGrey;
		padding: 20px;
		padding-left: 170px;	
		padding-bottom: 30px;
		color: black;
	}
	&:hover{
		.content{
			background-color: #ecebe6;
			//color: white;
		}
	}
	.action{
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.productImage{
		position: absolute;
		left: -10px;
		top: 50%;
		margin-top:-95px;
	}
	.description{
		width: 100%;
	}

	@media (max-width: 767px){

		

		.productImage{
			width: 140px;
			height: 140px;
			margin-top: 0;
			margin-left: 10px;
			top: 0;

			img{
				width: 140px;
				height: 140px;
			}

		}
		.content{
			padding-left: 140px;
			min-height: 95px;
		}

	}

}

.businessAd{
	
	&.businessAd-shipping .content{

	}

}