.productAd,
*[class*="bsa-"]{
	
	position: relative;
	font-size: 13px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;

	&:active{
		text-decoration: none;
	}

	.h2{
		margin-top: 0;
	}
	.content{
		background-color: $superLightGrey;
		padding: 20px;
		padding-left: 170px;	
		padding-bottom: 30px;
		color: black;
	}
	&.right .content{
		padding-left: 20px;
		padding-right: 170px;
	}

	&:hover{
		.content{
			background-color: #ecebe6;
			//color: white;
		}
	}
	.action{
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.productImage{
		position: absolute;
		left: 0;
		bottom: 0;
		img{
			min-height:1px; // otherwise they are considered :hidden by jquery
			min-width:1px;
			float: left;
		}
	}
	&.right .productImage{
		right: 0;
		left: auto;
	}
	.description{
		width: 100%;
		z-index: 2;
		position: relative;
	}


	blockquote{
		border-left: 3px solid grey;
		padding-left: 10px;
		font-style: italic;
	}

	p{
		margin-bottom: 10px;
	}

	@media (max-width: 767px){

		.productImage{
			position: absolute;
			left: 0;
			bottom: 0;
			left: auto;
		}
		&.right .productImage{
			right: 0;
			left: auto;
		}
		.content{
			padding-right: 15px;
			padding-left: 175px;
			min-height: 70px;
			padding-top: 15px;
		}
		.action{
			right: 20px;
			left: auto;
		}

	}


	@media (max-width: 350px){

		.productImage img{
			width: 80%;
		}

		.content{
			padding-left: 140px
		}

	}

}

.bsa-barebones, .bsa-newsletter{
	padding: 20px;
	padding-top: 0px;
	.title{
		font-weight: bold;
		font-size: 15px;
	}
}
.bsa-newsletter{
	background-color: #fffcdf;
	padding-top: 20px;
}

.bsa-hideImage{
	img{ display: none; }
	.content{
		padding-left: 20px;
	}
}