.productAd,
*[class*="bsa-"]{
	
	@include box-sizing();
	position: relative;
	font-size: 13px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;

	&:active{
		text-decoration: none;
	}


	.content{

		@include box-sizing();
		background-color: $superLightGrey;
		padding: 20px;
		padding-left: 170px;
		color: black;
		float: none;
		top: 0px;
		padding-bottom: 15px;
		width: 100%;

		.title{
			margin-top: 0;
			clear:both;
			float:left;
		}

		.description{
			a{
				text-decoration: underline;

			}
		}
	}
	&.right .content{
		padding-left: 20px;
		padding-right: 170px;
	}

	&:hover{
		.content{
			background-color: #ecebe6;
			//color: white;
		}
	}

	.action{
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.productImage{
		
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;

		img{
			min-height:1px; // otherwise they are considered :hidden by jquery
			min-width:1px;
			float: left;
		}
	}

	&.tinyImage{

	}

	&.right .productImage{
		right: 0;
		left: auto;
	}
	.description{
		width: 100%;
		z-index: 2;
		position: relative;
		clear: both;
	}


	blockquote{
		border-left: 3px solid grey;
		padding-left: 10px;
		font-style: italic;
	}

	p{
		margin-bottom: 10px;
	}

	&.rightPadImage .productImage{
		margin-right: 10px;
	}
	
	&.leftPadImage .productImage{
		margin-left: 10px;
	}

	&.verticalCenterImage .productImage{
		top: 50%;
		margin-top: -75px;
	}

	&.topCenterImage .productImage{
		top: 15px;
	}

	&.right.wideImage .content{
		padding-right: 210px;
	}
	&.left.wideImage .content{
		padding-left: 220px;
	}
	&.actionLinkBottom .content{
		padding-bottom: 30px;
	}
	&.no-image{
		.content{
			padding-left: 23px;
		}
	}

	@media (max-width: 767px){
		.productImage{
			position: absolute;
			left: 0;
			bottom: 0;
			left: auto;
			width: 23%;
			img{
				width: 100%;
			}
		}
		&.right .productImage{
			right: 0;
			left: auto;
		}
		.content{
			padding-right: 15px;
			padding-left: 25%;
			min-height: 70px;
			padding-top: 15px;
		}
		.action{
			right: 20px;
			left: auto;
		}

	}


	@media (max-width: 350px){

		.productImage img{
			width: 80%;
		}

		.content{
			padding-left: 140px
		}

	}

}

.bsa-barebones, .bsa-newsletter{
	
	padding: 20px;
	padding-top: 0px;
	
	.title{
		font-weight: bold;
		font-size: 15px;
	}
	
	.title{
		margin-bottom: 5px;
	}
}
.bsa-newsletter{
	background-color: #fffcdf;
	padding-top: 20px;
}

.bsa-hideImage{
	img{ display: none; }
	.content{
		padding-left: 20px;
	}
}


.span3 *[class*="bsa-"],
.span4 *[class*="bsa-"],
*[class*="bsa-"].span3,
*[class*="bsa-"].span4,
.porportionalImage{
	.productImage{
		width: 23%;
		img{
			width: 100%;
		}
	}
	.content{
		padding-left: 25%;
	}

	&.right.wideImage .content{
		padding-right: 30%;
	}
	&.left.wideImage .content{
		padding-left: 30%;
	}
	&.no-image{
		.content{
			padding-left: 23px;
		}
	}
}
