/* Badges */
.badges-hasBadge{
	position:relative;
	display:inline-block;
	zoom:1;
	*display:inline; /* IE7 inline-block Fix */
	/* Generic badge styling */
	
	.badges-badge{ 
		position: absolute;
		top: 5px;
		left: 5px;
		padding: px(1px) px(5px) px(0);
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		font-size: 11px;
		@include border-radius(px($borderRadius));
		
	}
	
	&.badges-text{
		padding-top: 3px;
		.badges-badge{
			display: inline-block;
			background-color: transparent;
			color: $yellow;
			position:relative;
			top: -7px;
			padding-left:2px;
		}	
	}

	/* Individual Badges */
	.badge-new{ background-color: red; }
	&.badges-text .badge-new{ color: red; }
	/*
	&.badge-smallImage{
		padding-top:10px;
		
		.badges-badge{
			position:absolute;
			top: 0;
			left: 0;
		}
	}*/
	
	
}
