@import "../utilities/settings";
@import "../utilities/functions";

.boxlabel{
    margin: 5px 0;                
    background-color: lightgrey;
    padding: 5px;
    background-color: #f5f4f0; 
    display: inline-block;
    border-radius: 5px;
    color: #847e77;

    &[class*="icon-"]{
    	padding:  5px 5px 5px 35px;
    	&:after{
    		margin-left: 5px;
    	}
    }
}