@import "../utilities/settings";
@import "../utilities/functions";

// This is the clearable module, it adds a little "x" that can clear the
// contents of an input when text is present
.clearableContainer{
	
	position: relative;

	.clearContents{
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -12px;
		text-indent: -$hideDistance;
		overflow: hidden;
		background-color: $lightGrey;
		
		height: 24px;
		width: 24px;
		line-height: 24px;
		text-decoration: none;
		@include border-radius(24px);

		display: none; // hide to start

		&:before{
			content: 'x';
			color: white;
			display: inline-block;
			position: absolute;
			top: 0px;
			left: 8px;
			padding: 0;
			font-weight: bold;
			text-indent: 0;
			margin: 0;
			font-size: 14px;
			line-height: 22px;
			
			text-decoration: none;
			border-color: red;
		}
	}
}