.departmentDropdown{ display: none; }
.departmentDropdown.active,
.departmentDropdown.reveal-open{ display: block; }
@media (max-width: 767px){
	.departmentDropdown .reveal-open.flyout{ display: block; }
}
.departmentDropdown{
	
	width:100%;
	top: 215px;
	left: 0;
	position: absolute;
	z-index: 99; // In front of everything!

	@media (max-height: 675px){
		top: 190px;
	}

	.wrapper{
		margin: auto;
		//background-color:white;
		float: none;
		position: relative; // origin for absolute positioning of the panel
	}

	.topLevel{
		float: left;
		width: 220px;
		border: 1px solid $lightGrey;
		border-width: 0 0 1px 1px;
		background-color:white;
		@include box-shadow-multiple(0 0 10px -2px $grey);
		display: block;
		// The :before element covers the shadow (little yellow strip)
		// It needs to have similar styling to a button
		&:before{
			width: 164px; // same as shop by department button
			position: absolute;
			top: -10px;
			height: 10px;
			left: 0;
			content: ' ';
			background-color: #f1c331; // the last covered pixel for the button
			border : 1px solid $brownYellow;
			border-width: 0px 1px;
		}

		// The :after element gives the onmouseleave something to recognize
		// otherwise if you 'leave' the flyout, but 'enter' the button, you 
		// can't get the flyout to close until you mouse back into the flyout
		// and out again
		&:after{
			width: 166px;
			position: absolute;
			top: -60px;
			height: 60px;
			left: 0;
			content: ' ';

			// IE dosen't maintain event bubbling for transparent background
			// divs - so we use a transparent only part of the sprite image
			@include lsp-sprite-background();
			background-position: -200px -373px;
		}


		.collection:first-child{
			border-top: 10px solid $yellow;
		}
	} //left nav
	.collection.active{ 
			

			.flyoutTitle{
				border-right: 1px solid $lightGrey;
				background-color: black; 
				
				.h3{ color: white; }
			
				position: relative;
				
				// black triangle
				&:after{
					content: ' ';
					width: 0;
					height: 0;
					position: absolute;
					right: -8px;
					top: 50%;
					margin-top: -15px;
					border-top: 15px solid transparent;
					border-left: 8px solid black;
					border-bottom: 15px solid transparent;
					z-index: 3; // in front of flyout shadow
				}

				.details:after{
					right: -8px;
					content: ' ';
					position: absolute;
					top: 50%; 
					margin-top:-22px;
					border-top: 22px solid transparent;
					border-left: 8px solid black;
					border-bottom: 22px solid transparent;
				
				}
			}

			.flyout{
				display: block;
			}
	}

	.flyoutTitle{
		
		padding: 4px 6px;
		position: relative;
		z-index:1;
		border-right: 1px solid $lightGrey;
		//height: 30px;


		.h3{ 
			font-size: 15px;
			//margin-top: 7px;
		}

		.details{ margin-top: -3px; }
	}

	.flyout{
		
		position: absolute;
		top: 0;
		left: 220px;
		margin-left:0;
		height: 100%;
		border: 1px solid $lightGrey;
		border-left: 0;
		border-top: 0;
		background-color:white;
		z-index: 0;
		display:none;
		//max-width: 720px;

		.container{
			position: relative; // give the image something to grab-on to
			width: 720px; // 9 columns designed width
			height: 100%;
			padding: 10px;
			padding-right: 110px;
			padding-left: 25px;
			@media (max-width: 979px) and (min-width: 768px){
				width: 505px;
				padding-right: 0px;
			}
			@media (min-width: 1200px){
				width: 950px;
				padding-right: 110px;
			}
			@include box-sizing();
		}

		@include box-sizing();
		@include box-shadow-multiple(4px 5px 9px -7px $grey, 2px -3px 8px -5px $grey);
		
		&:before{
			height: 10px;
			content: ' ';
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			z-index: 1; // over the image
			left: 0;
			background-color: $yellow; // the shadow on the left side of the border
		};
		.productImage{
			position: absolute;
			right: -75px;
			top: 0;
			max-height: 100%;
		}
	} // panel

	.column{
		height: 100%;
		float: left;
		margin-right:10px;
	}
	.group{
		float: left;
		margin-bottom: 20px;

		// the shadow between left bar and content
		&:first-child:before{
			content: ' ';
			height: 100%;
			position: absolute;
			left: 0;
			top:0;
			width: 10px;
			//border-left: 1px solid $superLightGrey;
			z-index: 2; //over yellow border up top
			//border-left: 1px solid $lightGrey;
			
			@include box-shadow-multiple(inset 4px 1px 8px -4px $grey);

		}
	} //group of lists
	.lists{
		//clear: both;
		float: left;
		position:relative;
		z-index:1;
	}
	.list{
		margin-top: 20px;
		width: 225px;
	} // group of links
	.list:first-child{
		margin-top: 10px;
	}
	.h1{
		position:relative;
		z-index:1;
	}
	.h2{ 
		float: left;
		margin-bottom: 10px;
		position:relative;
		z-index:1;
	} // group title
	.h3{
	} // list title

	.ad{
		

		//text-align:right;
		.content{
			position: absolute;
			right: 20px;
			bottom: 100px;
			z-index: 1;
			color: black;
			text-decoration: none;
			max-width: 300px;
			font-size: 13px;
		}

		.name{
			
			float: left;
			clear: both;
			font-size: 13px;
			&:before{
				content: ' '; 
				display: block; 
				width: 0; 
				height: 0;
				position: absolute;
				z-index: 2;
				border: px(12px) inset transparent;
				//background-color: red;
				border-bottom: px(12px) solid black; 
				right: 30px;
				top: -30px;
			}
		}
		.price{

			background-color: $yellow;
			padding: 7px 10px;
			display: block;
			margin-top: 5px;
			@include border-radius(5px);
			float: left;
			clear: both;
			position: relative;
			font-size: 13px;

			

			.productGrouping{
				font-size: 11px;
				position: absolute;
				bottom: 3px;
				right: -155px;
				width: 150px;
				top: 50%;
				margin-top: -7px;
			}
		}

		&:hover{
			.name:before{
				border-bottom-color: $yellow;
			}
		}

		@media (max-width: 979px) and (min-width: 768px){
			display: none;
		}
	}
	// Line above gaps
	.gapAbove:before{
		content: ' ';
		display: block;
		width: 75%;
		margin-left: 12.5%;
		padding-top: 5px;
		margin-top: 5px;
		border-top:1px solid $lightGrey;
		border-right: 25% solid transparent;
	}

	.collection.gapAbove{
		&:before{
			display: none;
		}
	}

	.allCategory a{
		color: $grey;
		text-decoration: underline;
	}
	// 	.flyoutTitle:before{
	// 		content: ' ';
	// 		display: block;
	// 		padding: 0;
	// 		margin: 0;
	// 		width: 75%;
	// 		position: absolute;
	// 		top: -1px;
	// 		margin-left: 12.5%;
	// 		border-top: 1px solid $lightGrey;
	// 	}
	// }
}


// Mobile Menu
@media (max-width: 767px){

	// Reset Styles
	.departmentDropdown{
		position: static;

		.wrapper{
			margin: 0;
			float: none;
			//position: static;
		}
		.topLevel{
			float: none;
			width: inherit;
			border: 0;
			background-color:transparent;
			@include box-shadow-multiple(none);
			//display: block;
			// The :before element covers the shadow (little yellow strip)
			// It needs to have similar styling to a button
			&:before,
			&:after{
				display: none;
			}

			.collection:first-child{
				border-top: 0;
			}

			.collection.active{ 
				
				.flyoutTitle{
					border-right: 0;
					background-color: transparent; 
					
					.h3{ color: black; }
				
					position: relative;
					
					// black triangle
					&:after,
					.details:after{
						display: none;
					}
				}

				//.flyout{
				//	display: block;
				//}
			}
		}
		.flyoutTitle{
			
			padding: 0;
			position: static;
			z-index:0;
			border: 0;
			//height: 30px;


			.h3{ 
				font-size: inherit;
				//margin-top: 7px;
			}

			.details{ margin: 0; }
		} //toplevel titles
		.flyout{
			
			position: static;
			//margin-left:0;
			//height: 100%;
			border: 0;
			//border-left: 0;
			//border-top: 0;
			background-color:transparent;
			//z-index: 0;
			//overflow: hidden;
			//display:none;
			//max-width: 720px;

			.container{
			//	position: relative; // give the image something to grab-on to
				width: inherit; // 9 columns designed width
				height: inherit;
				padding: 0;
			}

			//@include box-sizing();
			@include box-shadow-multiple(none);
			
			&:before{
				display: none;
			};
		} // panel
		.column{
			float: none;
			margin-right: 0;
			height: auto;
		}
		.group{
			float: none;
			margin-bottom: 0;

			&:first-child:before{
				display:none;
			}
		} //group of lists
		.lists{
			//clear: both;
			float: none;
			//position:relative;
			//z-index:1;
		}
		.list, .list:first-child{
			width: 100%;
			float: none;
			margin-top: 0;
		} // group of links
		.h1{
			//position:relative;
			//z-index:1;
		}
		.h2{ 
			float: none;
			//margin-bottom: 10px;
			//position:relative;
			//z-index:1;
		} // group title
		.ad{
			display: none;
		}
		.gapAbove:before{
			display: none;
		}
	}


	// New Menu Style
	.departmentDropdown{

		margin-bottom: 40px;
		padding: 0 10px;
		position: relative;
		top: -15px;

		@include box-sizing();
		// No subtext on mobile
		.flyoutTitle .details{ display: none; }

		// Style the menu
		.h2, .h3, .link a{
			padding: 20px;
			border-bottom: 1px solid $lightGrey;
			width: 100%;
			margin: 0;
			display: block;
			font-family: 'Open Sans', Arial, Verdana;
			font-size: 14px;
			line-height: 14px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: black;
			@include box-sizing();
		}
		.collection:first-child .flyoutTitle .h3{
			//border-top: 1px solid $lightGrey;
		}
		.h2, .h3{
			
			position: relative;
			padding-right: 35px;

			&:after{
				
				@include rotate(90deg);

				content: ' ';
				display: block;
				@include lsp-sprite-background();
				width: 24px;
				height: 24px;
				background-position: -284px -352px;
				position: absolute;
				top: 50%;
				margin-top: -12px;
				right: 10px;
			}
		}

		.reveal-open > .h3{
			background-color: black;
			color: white;
		}

		.link a{
			position: relative;
			padding-left: 20px;
			margin-left: 5%;
			width: 95%;
			border-left: 5px solid $yellow;
			//padding-left: 40px;
	
			// This could have been done with a class (icon-24-chevronRight)  but
			// this menu is included on every page, and there will be a TON of links
			// so the addition of pageweight wouldn't be trivial.
			// This is a case of performance > maintainability
			&:after{
				content: ' ';
				display: block;
				@include lsp-sprite-background();
				width: 24px;
				height: 24px;
				background-position: -284px -352px;
				position: absolute;
				top: 50%;
				margin-top: -12px;
				right: 10px;
			}
			&:hover{
				text-decoration: none;
				&:before{ // Normal Category chevron
					display: none;
				}
			}
		}
		.group{
			//padding-left: 20px;
		}
		.list{
			//padding-left: 20px;
			//background-color: white;
			@include box-sizing();

			.h3{
				//border-left: 1px solid $lightGrey;
				background-color: $superLightGrey;
				padding-left: 40px;
			}
			.h3.reveal-open{
				background-color: black;
				color: white;
			}
		}
		
		.links{
			//margin-left: 20px;
			//background-color: white;
		}
	}
}
