
a[href]{ outline: 1px solid red; }
a[href*="_LSP"], a[href*="http://"],a[href*="http://"], a[href*=".html"]{ outline: none; }

.departmentDropdown{ display: none; }
.departmentDropdown.active,
.departmentDropdown.reveal-open{ display: block; }
@media (max-width: 767px){
	.departmentDropdown .reveal-open.flyout{ display: block; }
}
.departmentDropdown{
	height: 1px;
	width:100%;
	top: 215px;
	left: 0;
	position: absolute;
	z-index: 99; // In front of everything!

	&.reveal-open, &.reveal-open .wrapper {
		height: auto;
	}

	@media (max-height: 675px){
		top: 190px;
	}

	.wrapper{
		margin: auto;
		//background-color:white;
		height: 1px;
		float: none;
		position: relative; // origin for absolute positioning of the panel
		@media (max-width: 767px) {
			overflow: hidden;
		}
	}

	.topLevel{
		float: left;
		width: 220px;
		border: 1px solid $lightGrey;
		border-width: 0 0 1px 1px;
		background-color:white;
		@include box-shadow-multiple(0 0 10px -2px $grey);
		display: block;
		// The :before element covers the shadow (little yellow strip)
		// It needs to have similar styling to a button
		&:before{
			width: 164px; // same as shop by department button
			position: absolute;
			top: -10px;
			height: 10px;
			left: 0;
			content: ' ';
			background-color: #f1c331; // the last covered pixel for the button
			border : 1px solid $brownYellow;
			border-width: 0px 1px;
		}

		// The :after element gives the onmouseleave something to recognize
		// otherwise if you 'leave' the flyout, but 'enter' the button, you 
		// can't get the flyout to close until you mouse back into the flyout
		// and out again
		&:after{
			width: 166px;
			position: absolute;
			top: -60px;
			height: 60px;
			left: 0;
			content: ' ';

			// IE dosen't maintain event bubbling for transparent background
			// divs - so we use a transparent only part of the sprite image
			@include lsp-sprite-background();
			background-position: -200px -373px;
		}


		.collection{
			// Line / Gap above top menu
			// &.gapAbove{
			// 	outline: 1px solid red;
			// 	&:before{
			// 		display: none;
			// 	}
			// }

			// Yellow bar at the top of the department list
			&:first-child{
				border-top: 10px solid $yellow;
			}

			// Title for hovered/open flyout
			&.active{ 

				.flyoutTitle{
					border-right: 1px solid $lightGrey;
					background-color: black;
					
					.h3{ color: white; }
				
					position: relative;
					
					// black triangle
					&:after{
						content: ' ';
						width: 0;
						height: 0;
						position: absolute;
						right: -8px;
						top: 50%;
						margin-top: -15px;
						border-top: 15px solid transparent;
						border-left: 8px solid black;
						border-bottom: 15px solid transparent;
						z-index: 3; // in front of flyout shadow
					}

					.details:after{
						right: -8px;
						content: ' ';
						position: absolute;
						top: 50%; 
						margin-top:-22px;
						border-top: 22px solid transparent;
						border-left: 8px solid black;
						border-bottom: 22px solid transparent;
					
					}
				}

				.flyout{
					display: block;
				}
			}
		}
	} //left nav

	// Left hand Department label/container (Sticks & Mallets, Latin & World, etc)
	.flyoutTitle{
		
		padding: 5px 6px;
		position: relative;
		z-index:1;
		border-right: 1px solid $lightGrey;
		//height: 30px;

		// Department Name
		.h3{ 
			font-size: 15px;
			//margin-top: 7px;
		}

		// Subtext
		.details{ margin-top: -3px; }
	}

	// Big open flyout container
	.flyout{
		
		position: absolute;
		top: 0;
		left: 220px;
		margin-left:0;
		height: 100%;
		border: 1px solid $lightGrey;
		border-left: 0;
		border-top: 0;
		background-color:white;
		z-index: 0;
		display:none;
		height: $flyoutHeight;
		
		@include box-sizing();
		@include box-shadow-multiple(4px 5px 9px -7px $grey, 2px -3px 8px -5px $grey);
		
		// Without .container, the image would position to the right of the page
		.container{
			position: relative; // give the image something to grab-on to
			width: 720px; // 9 columns designed width
			height: 100%;
			padding: 10px;
			padding-right: 110px;
			padding-left: 25px;
			@media (max-width: 979px) and (min-width: 768px){
				width: 505px;
				padding-right: 0px;
			}
			@media (min-width: 1200px){
				width: 950px;
				padding-right: 110px;
			}
			@include box-sizing();
		}

		// The yellow bar at the top
		&:before{
			height: 10px;
			content: ' ';
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			z-index: 1; // over the image
			left: 0;
			background-color: $yellow; // the shadow on the left side of the border
		};


		// A column of links
		.column{
			height: 100%;
			float: left;
			margin-right:10px;
		}

		// A section within a column of links 
		.group{
			float: left;
			margin-bottom: 20px;

			// The shadow between left bar and content
			&:first-child:before{
				content: ' ';
				height: 100%;
				position: absolute;
				left: 0;
				top:0;
				width: 10px;
				//border-left: 1px solid $superLightGrey;
				z-index: 2; //over yellow border up top
				//border-left: 1px solid $lightGrey;
				
				@include box-shadow-multiple(inset 4px 1px 8px -4px $grey);

			}
		}

		// List of links within a group, within a column
		.list{
			margin-top: 20px;
			width: 225px;

			&:first-child{
				margin-top: 10px;
			}
		}

		// Group Heading (unsused)
		.h2{ 
			float: left;
			margin-bottom: 10px;
			position:relative;
			z-index:1;
			outline: 1px solid red;
		} // group title

		// Product ad on the right
		.ad{

			.content{
				position: absolute;
				right: 20px;
				top: 80px;
				z-index: 1;
				color: black;
				text-decoration: none;
				max-width: 300px;
				font-size: 13px;
			}

			// Product name
			.name{
				
				float: left;
				clear: both;
				font-size: 13px;
				&:after{
					content: ' '; 
					display: inline-block; 
					width: 0; 
					height: 0;
					z-index: 2;
					position: relative;
					top: 3px;
				}
			}

			&.top{
				.content{
					right: 20px;
					top: 80px;
				}
				.name {
					padding-right: 22px;
				}
				.name:after{
					border: 5px inset transparent;
					border-top: 8px solid black;
				}

				&:hover{
					.name:after{
						border-top-color: $yellow; 
					}
				}
			}

			&.bottom{
				.content{
					right: 20px;
					bottom: 10px;
					top: auto
				}
				.name:after{
					border: px(5px) inset transparent;
					border-bottom: px(8px) solid black; 
				}

				&:hover{
					.name:after{
						border-bottom-color: $yellow; 
					}
				}
			}

			&.bottom-left{
				.content{
					right: 260px;
					bottom: 10px;
					top: auto;
				}
				.name {
					padding-right: 22px;
				}
				.name:after{
					border: px(5px) inset transparent;
					border-left: px(8px) solid black; 
				}

				&:hover{
					.name:after{
						border-left-color: $yellow; 
					}
				}
			}

			.price{

				background-color: $yellow;
				padding: 7px 10px;
				display: block;
				margin-top: 5px;
				@include border-radius(5px);
				float: left;
				clear: both;
				position: relative;
				font-size: 13px;

				.productGrouping{
					font-size: 11px;
					position: absolute;
					bottom: 3px;
					right: -155px;
					width: 150px;
					top: 50%;
					margin-top: -7px;
				}
			}

			// Main ad image
			.productImage{
				position: absolute;
				right: 0;
				bottom: 0;
				max-height: 100%;

				&.breakout{
					right: -50px;
				}

				&.top{
					top: 20px;
				}

				&.middle{
					top: 50px;
				}
			}

			// Hide the ad for tablet
			@media (max-width: 979px) and (min-width: 768px){
				display: none;
			}
		}

		// Line above gaps
		.gapAbove:before{
			content: ' ';
			display: block;
			width: 75%;
			margin-left: 10px;
			padding-top: 5px;
			margin-top: 5px;
			border-top:1px solid $lightGrey;
			border-right: 25% solid transparent;
		}
	}


	// // A sub-section within a group
	// .lists{
	// 	//clear: both;
	// 	float: left;
	// 	position:relative;
	// 	z-index:1;

	// }

	// Flyout Title (unused)
	// .h1{
	// 	position:relative;
	// 	z-index:1;
	// }

	// .allCategory a{
	// 	// color: $grey;
	// 	// text-decoration: underline;
	// }
	// 	.flyoutTitle:before{
	// 		content: ' ';
	// 		display: block;
	// 		padding: 0;
	// 		margin: 0;
	// 		width: 75%;
	// 		position: absolute;
	// 		top: -1px;
	// 		margin-left: 12.5%;
	// 		border-top: 1px solid $lightGrey;
	// 	}
	// }
}


// Mobile Menu
@media (max-width: 767px){

	// Reset Styles
	.departmentDropdown{
		position: static;

		.wrapper{
			margin: 0;
			float: none;
			//position: static;
		}
		.topLevel{
			float: none;
			width: inherit;
			border: 0;
			background-color:transparent;
			@include box-shadow-multiple(none);
			//display: block;
			// The :before element covers the shadow (little yellow strip)
			// It needs to have similar styling to a button
			&:before,
			&:after{
				display: none;
			}

			.collection:first-child{
				border-top: 0;
			}

			.collection.active{ 
				
				.flyoutTitle{
					border-right: 0;
					background-color: transparent; 
					
					.h3{ color: black; }
				
					position: relative;
					
					// black triangle
					&:after,
					.details:after{
						display: none;
					}
				}

				//.flyout{
				//	display: block;
				//}
			}
		}
		.flyoutTitle{
			
			padding: 0;
			position: static;
			z-index:0;
			border: 0;
			//height: 30px;


			.h3{ 
				font-size: inherit;
				//margin-top: 7px;
			}

			.details{ margin: 0; }
		} //toplevel titles
		.flyout{
			
			position: static;
			//margin-left:0;
			height: auto;
			border: 0;
			//border-left: 0;
			//border-top: 0;
			background-color:transparent;
			//z-index: 0;
			//overflow: hidden;
			//display:none;
			//max-width: 720px;

			.container{
			//	position: relative; // give the image something to grab-on to
				width: inherit; // 9 columns designed width
				height: inherit;
				padding: 0;
			}

			//@include box-sizing();
			@include box-shadow-multiple(none);
			
			&:before{
				display: none;
			};

			.column{
				float: none;
				margin-right: 0;
				height: auto;
			}

			.list, .list:first-child{
				width: 100%;
				float: none;
				margin-top: 0;
			} // group of links
		} // panel
		
		.group{
			float: none;
			margin-bottom: 0;

			&:first-child:before{
				display:none;
			}
		} //group of lists
		.lists{
			//clear: both;
			float: none;
			//position:relative;
			//z-index:1;
		}
		
		.h1{
			//position:relative;
			//z-index:1;
		}
		.h2{ 
			float: none;
			//margin-bottom: 10px;
			//position:relative;
			//z-index:1;
		} // group title
		.ad{
			display: none;
		}
		.gapAbove:before{
			display: none;
		}
	}


	// New Menu Style
	.departmentDropdown{

		margin-bottom: 0;
		padding: 0;
		position: relative;
		top: -15px;
		background-color: white;
		z-index: 1;

		@include box-sizing();
		// No subtext on mobile
		.flyoutTitle .details{ display: none; }

		// Style the menu
		.h2, .h3, .link a{
			padding: 18px;
			border-bottom: 1px solid $lightGrey;
			width: 100%;
			margin: 0;
			display: block;
			font-family: 'Open Sans', Arial, Verdana;
			font-size: 14px;
			line-height: 14px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: black;
			@include box-sizing();
		}
		.collection:first-child .flyoutTitle .h3{
			//border-top: 1px solid $lightGrey;
		}
		.h2, .h3{
			
			position: relative;
			padding-right: 43px;
			line-height: 20px;

			&:after{
				
				@include rotate(90deg);

				content: ' ';
				display: block;
				@include lsp-sprite-background();
				width: 24px;
				height: 24px;
				background-position: -284px -352px;
				position: absolute;
				top: 50%;
				margin-top: -12px;
				right: 10px;
			}
		}

		// Top Level Black on Click
		.reveal-open > .h3{
			background-color: black;
			color: white;
			border-bottom-color: black;
			border-top-color: black;
			z-index: 2;
		}

		// First top level, group, and link
		.topLevel > li.collection:first-child > .flyoutTitle.reveal-closed > .h3,
		.column:first-child .list:first-child .h3,
		.link:first-child{
			@include box-shadow-multiple(0 2px 6px -3px $grey inset);
		}
		// Last element in open list and last top level element
		.column + .column .list:last-child .h3.reveal-closed,
		.topLevel > li.collection:last-child > .flyoutTitle > .h3{
			@include box-shadow-multiple(0 -2px 6px -3px $grey inset);
		}
		// Last Link
		.link:last-child{
			@include box-shadow-multiple(0 -3px 6px -3px $grey inset);
		}

		.link a{
			position: relative;
			padding-left: 20px;
			margin-left: 5%;
			width: 95%;
			border-left: 5px solid $yellow;
			//padding-left: 40px;
	
			// This could have been done with a class (icon-24-chevronRight)  but
			// this menu is included on every page, and there will be a TON of links
			// so the addition of pageweight wouldn't be trivial.
			// This is a case of performance > maintainability
			&:after{
				content: ' ';
				display: block;
				@include lsp-sprite-background();
				width: 24px;
				height: 24px;
				background-position: -284px -352px;
				position: absolute;
				top: 50%;
				margin-top: -12px;
				right: 10px;
			}
			&:hover{
				text-decoration: none;
				&:before{ // Normal Category chevron
					display: none;
				}
			}
		}
		.group{
			//padding-left: 20px;
		}
		.list{
			//padding-left: 20px;
			//background-color: white;
			@include box-sizing();

			.h3{
				//border-left: 1px solid $lightGrey;
				background-color: $superLightGrey;
				padding-left: 40px;
			}
			// .h3.reveal-open{
			// 	// background-color: black;
			// 	// color: white;
			// }
		}
		
		.links{
			//margin-left: 20px;
			//background-color: white;
		}
	}
}
