/* Footer */
.footer{
    
    $_bottomPadding : 20px;
    
    //margin: auto;
    color: #5b4e44; /* Light brown */
    
    .rowContent{
    	margin: auto;
		float: none;
    }
    .banner{
       
        /* The banner contains the picture and testimonial quote, as well as the mcafee and credit card security icons */
       	
        background-color: #f5f4f0;
        position: relative;
        padding: px($_bottomPadding) 0;
        float:left;
		width: 100%;
        /* overflow: hidden; /* Stylistic decision */
        margin-top: px(30px); /* 20px + 10 for the top of the profile image */
        
		@media (max-width: 767px){

			border: 20px solid transparent;
			border-width: 0 20px;
			@include box-sizing();
	
		}
		
        .profile{
            position: absolute;
            height: px(135px);
            width: px(140px);
            top: px(-20px); 
            img{ @include border-radius(px(150px)); }
        }
        .content{
            font-size: px(16px);
            font-style: italic;
            color: $darkGrey;
            margin-left: px(160px, 16px);
            overflow: hidden;
            //width: px(460px, 16px);
            line-height: 1.4em;
			margin-right: px(2 * $paddingUnit);
            
            strong{
                color: black;
            }
        }
        .security{
            
            margin: px(20px) px(20px) 0 0;
            float:right;
			
            li{
                float: right;
                margin-left: px(10px);
            }
        }
    }
    
    .well{
       
        /* The space below the banner */
       
        width: 100%;
        float: left;
        background-color: #1d1712;
        padding-top: px($_bottomPadding); /* Same as padding-bottom of .banner */
        clear: both;
        
		@media (min-width: 768px) and (max-width: 979px) {
			.span2{
				width: 166px;
			}
			.span4{
				width: 724px;
				@include box-sizing();
				margin-left: 0;
			}
		}
		
        h2, strong, em{
            color: white;
        }
        h3{ /* h3 tags title each column of links */
            font-weight: normal;
            color: white;
            margin-top: px(5px);
            
            strong{ font-weight: bold; }
        }
        a{
            
            text-decoration: none;
            
            &:hover{
                color: $yellow;
            }
        }
        
		.first{
			margin-left: 0;
		}
		
        .static{
           
            /* The static block contains the newsletter sign up and company hours */
			margin-bottom: px(2 * $paddingUnit);
			
			@media (max-width: 979px){
				padding: 0 10%;
			}
			
            .newsletter{
				
				
				
                .email{
                    
					
                    position: relative;
					
                    
                    h3{ margin: 0 0 px(20px); }
                    
                    input{
                        font-size: px($largeInputFontSize);
                        padding : px($paddingUnit * 2 + 1, $largeInputFontSize) px($inputPadding+2, $largeInputFontSize);
                    }
                    
                    .b1{
                        position: absolute;
                        right: px(-3px);
                        top: px(2px);
                    }
                }
            }
			
            .contact{
                background-color: #1f150d;
                @include box-shadow-multiple(0 -1px 1px #352416, 0 0 1px 1px #18120d); /* Intentionally 1px */
                margin-top: px(20px);
                padding: px(10px);
                @include border-radius($borderRadius);
                
                em{
                    font-style: normal;
                }
                
                > li{
                    margin: px(10px);
                }
                .hours {
                    text-transform: uppercase;
                }
                *[class*="icon-"]:after{ /* Icons */
                    top:0;
                    margin-top:0;
                }
            }
        }

        .logo{
          
            clear: both;
            margin: auto;
            text-align:center; /* It's just an img */
            margin-top: px(40px);
            float:left;
            width: 100%;
            *[class*='image']{
                margin: auto;   
            }
        }
        
        .copyright{
          
            margin: px(20px) 0;
            clear: both;
            text-align: center;
            float: left;
            width: 100%;
        }
    }
    
}
