@import "settings";
@import "functions";

/* Standard Form Styling */
	input, select, textarea{
    
	    font-family: 'Open Sans', san-serif;
	    border-radius : px($borderRadius, 16px);
	    padding : px($paddingUnit*2, $inputFontSize) px($inputPadding, $inputFontSize);
	    line-height:1em;
	    border : 1px solid $lightGrey;
	    font-weight : bold;
	    font-size : px($inputFontSize);
	    color : $black;
	    margin : 0 px(2px, 16px) px(2px, 16px) 0;
	    display : block;
    
	    &:focus{
	        @include box-shadow-multiple(0 0 px(3px, $inputFontSize) 0 $darkYellow);
	        border-color: $darkYellow;
	    }
	}
	select{
	    padding: px($inputPadding - 1); /* Fix for unknown space on selects */
	    height: px(40px, $inputFontSize);
	}
	textarea{ width: 100%; height: px(100px, $inputFontSize); }
	/* Type-specific styling */
	input[type="checkbox"], input[type="radio"]{ 
	    margin : px($paddingUnit, $inputFontSize) px($paddingUnit, $inputFontSize) 0 0;
	    border: 0;
	    padding: 0;
	    border-radius: 0;
	}
	input[type="text"], input[type="email"]{    
	    width : px($emailInputLength, $inputFontSize);
	}
	input[name="zipcode"]{                      width : px(150px); }
	input[name="creditCardNumber"]{             width : px(225px); }
	input[name="giftCardNumber"]{               width : px(225px); }
	input.scroller{                             width : px(20px); }

	/* Style labels */
	    label{
			display: block; 
			font-weight: bold;

			.details {
				display: block;
				font-weight: normal;
			}
		}
	    input[type="checkbox"], input[type="checkbox"]~label, input[type="radio"], input[type="radio"]~label{ float: left; font-weight: normal;}

	.field{
	    margin-bottom: px(10px);
	    display: block;
	    clear:left;
	    float:left; /* Otherwise our radio element fields lose layout */
	}
	.field.zipcode, .field.creditCardType, .field.creditCardExpirationYear{
	    float: left;
	    clear:none;
	    margin-left: px(10px);
	}

/* Validation Plugin */
	.validation-required,
	.validation-alphaOnly,
	.validation-numericOnly,
	.validation-alphaNumeric,
	.validation-emailAddress,
	.validation-creditCardNumber{
		border: 1px solid blue;
	}

	.validation-invalid{
		border:1px solid red;
	}
	.validation-valid{
		border: 1px solid green;
	}

/* Button Styling */
    /* Yellow, Uppercase */ 
    .b1, .b2, .b3, .b4{ 
        
        @include gradient($lightYellow, $darkYellow);
        @include box-shadow-multiple(0 1px 1px 0 #fdf8a6 inset, 0 -1px 1px 0 #fdf8a6 inset);
        
        border : 1px solid $brownYellow;
        border-radius : px($borderRadius);
        color : black;
        text-shadow : 0 1px $saturatedHighlightYellow;
        
        padding : px(10px, 14px) px(14px, 14px);
        font-family : 'Open Sans', sans-serif;
        font-size : px(14px);
        font-weight : 800;
        text-transform : uppercase;
        text-decoration: none;
        text-align : center;
        line-height: 1.3em;
        display: inline-block;
        margin : 0 px($paddingUnit);
        
        &:hover{
            @include gradient($hoverLightYellow, $darkYellow);
        }
    }
    
    .b2, .b3, .b4, .b5{
        font-size: px(13px);
        padding : px(10px, 13px) px(7px, 13px);
    }
    
    /* Yellow, Normal  */  
    .b2{ 
        text-transform: none; 
    } 

    /* Grey, Caps */
    .b3, .b4{ 
        @include gradient($buttonLightGrey, $buttonDarkGrey); 
        @include box-shadow-multiple(0 0 px(2px) 0 $highlightGrey inset);
        text-shadow : 0 1px $saturatedHighlightGrey;
        border : 1px solid $darkGrey;
    } 
    
    /* Grey, Normal */
    .b4{  
        text-transform: none;
    } 
    
    /* Link */ 
    .b5{ 
        overflow : visible; /* Shrinkwrap the text in IE7- */
        margin : 0;
        padding : 0;
        border : 0;
        color : $grey;
        background : transparent;
        font : inherit; /* Inherit font settings (doesn’t work in IE7-) */
        line-height : normal; /* Override line-height to avoid spacing issues */
        text-decoration : underline; /* Make it look linky */
        cursor : pointer; /* Buttons don’t make the cursor change in all browsers */
        -moz-user-select: text; /* Make button text selectable in Gecko */
    }

    /* Icons */
    .b1.icon-lock, .b2.icon-lock, .b3.icon-lock, .b4.icon-lock{ }
    .b1.icon-cart, .b2.icon-cart, .b3.icon-cart, .b4.icon-cart{ }
    .b1.icon-toggleHide, .b2.icon-toggleHide, .b3.icon-toggleHide, .b4.icon-toggleHide{

    }
    .b1.icon-close, .b2.icon-close, .b3.icon-close, .b4.icon-close{
        
    }
    .b1.icon-leftArrow, .b2.icon-leftArrow, .b3.icon-leftArrow, .b4.icon-leftArrow, .b5.icon-leftArrow,
    .b1.icon-rightArrow, .b2.icon-rightArrow, .b3.icon-rightArrow, .b4.icon-rightArrow, .b5.icon-rightArrow{

    }
    
    
    .b1.highlight-icon, .b2.highlight-icon, .b3.highlight-icon, .b4.highlight-icon, .b5.highlight-icon {
            
          /* Buttons that have the disc to highlight the icon */
            
          position: relative; /* To position the disc */
          padding-left: 40px;
          text-align: left;
          font-weight: normal;
          
          strong {
              font-weight: bold;
          }
          
          &:before {
            /* The generic disc */
            content: "";
            position: absolute;
            top: 10px;
            left: 5px;
            width: 30px;
            height: 30px;
            display: inline-block;
            -webkit-border-radius: 45px;
            -moz-border-radius: 45px;
            border-radius: 45px;
          }
          &:after{ /* Icon */
              left: 8px; 
              top: 25px;
          }
      }
              
      .b1.highlight-icon, .b2.highlight-icon {
       
        /* Color declarations for Yellow buttons with highlight disc*/
       
        border: 0px;
        @include box-shadow-multiple(0 1px 0px #fdf8a6 inset, 0 -1px 0px #fdf8a6 inset, 0 2px 3px #000); /* Top/Bottom highlight, Drop shadow */
        &:before {
          background-color: #f6d54f;
          -webkit-box-shadow: 0 -1px 0 #fdf8a6 inset, 0 -1px 0 rgba(255, 255, 255, .2) inset, 0 1px 0 #393128 inset;
          -moz-box-shadow: 0 -1px 0 #fdf8a6 inset, 0 -1px 0 rgba(255, 255, 255, .2) inset, 0 1px 0 #393128 inset;
          box-shadow: 0 -1px 0 #fdf8a6 inset, 0 -1px 0 rgba(255, 255, 255, .2) inset, 0 1px 0 #393128 inset;
       }
    }