
/* Fonts */
@font-face {
     font-family: "League Gothic";
	 src: url("../files/leaguegothic-regular-webfont.eot");
     src: local("☺"), url("../files/leaguegothic-regular-webfont.eot") format('eot'),
     url('../files/leaguegothic-regular-webfont.woff') format('woff'),
     url('../files/leaguegothic-regular-webfont.ttf') format('truetype'),
     url('../files/leaguegothic-regular-webfont.svg#LeagueGothic') format('svg');
     font-weight:bold;
     font-style:normal;
  }

/* Application Wide Styles */
html{
    
	width: 100%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.row.span12{
	margin-left:0;
}

body{
	
	width: 100%;

	@include box-sizing();
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 14px;
    line-height: px(22px);
}

/* Content Container */
div[class|="page"]{
	@media (max-width: 767px){

		border: 20px solid transparent;
		border-width: 0 20px;
		@include box-sizing();
		
	}
}
div[class|="page"],
.header,
.footer{
    //margin: auto;
    //max-width: px(940px);
    //clear: both;
	float: none;
	margin: auto;
}
/* Page Title */
h1, .h1, h2, .h2{
    margin-top: px($paddingUnit);
    line-height: 1em;
    font-size: 2.9em;
    font-family: "League Gothic", sans-serif;
    text-transform: uppercase;
    color: $black; 
    -webkit-font-smoothing: antialiased;
}

/* Section Headings */
h2, .h2{ font-size: px($h2FontSize);}

/* Captialized, Bigger, Bold */
h3, .h3, h4, .h4{ 
    font-size: 1em; 
    text-transform:uppercase;
    font-weight: bold;
}

/* Captialized, Bold */
h4, .h4{ text-transform: none; }

/* Lowercase, Bold */
h5, .h5{ font-weight: bold; }

/* Text */
h6, .h6{ color: $grey; }

/* Links */
a, .b5{
    color: $grey;
    &:hover{ text-decoration: none; }
}

p{
    margin-bottom: px(4 * $paddingUnit + 3);
}

em{
    font-style: italic;
}

/* General Tags */
/* Normally the UL and LI tags are style-less - but in product descriptions we want them to have the bullets */
.productDescription ul{
    margin: px($paddingUnit) 0 px($paddingUnit) px(3 * $paddingUnit);
}
ul.list li,
.productDescription ul li{
	//padding-left: 5px;
    list-style: square inside;
}

/* Panels */
/* A panel is a boxed divison, like each step on checkout, the add-to-cart panel on product detail page, etc */
.panel, a .panel{
    @include box-shadow-multiple(0 0 px(3px) 0 $lightGrey);
    background-color: $white;
    display: inline-block;
    position: relative;
    border: 1px solid $lightGrey;
    @include border-radius(px($borderRadius));
    padding: px($paddingUnit) px($paddingUnit * 2) 0;
	
	@include box-sizing();
	
    margin-bottom: px($paddingUnit * 2);
    color: $black;
	h2{
		margin-bottom: px($paddingUnit);
	}
}

/* A section is a broken division within a panel, generally titled by a header tag, it basically adds a line break and some margins */
.section{
    clear: both;
    &:last-child{ border-bottom: 0; }
    h2{
        margin-bottom: px($paddingUnit);
    }
}

/* An engaged panel has a yellow highlight on top */
.panel.engaged{
    border-top: px($paddingUnit) solid $yellow;
}

/* Disengaged panels are grey */
.panel.disengaged{
    background-color: $superLightGrey;
    padding-top: px((2 * $paddingUnit) - 2px); /* Make up for engaged's border-top */
}

/* Common Properties */
/* Details are subtext */
.details{ color: $grey; font-size: 13px; }

/* This is the in-stock, out-of-stock little status block used in cart, product detail page, and search results */
.productAvailability .status,
.relatedItems .currentItem:after{
    font-size: px($boldAllCapsH4);
    font-weight: 800;
    text-transform: uppercase;
    @include border-radius(px(5px));
    padding: px(3px) px($paddingUnit);
}
.productAvailability[data-method="seperately"] .status{
    background-color: $superLightGrey;
    color: $grey;
}
.productAvailability[data-method="today"] .status{
    background-color: $grey;
    color: $white;
}

/* The add-to-cart panel can be seen on the product-detail page and list-view search results */
.addToCart{
    
    width: 100%;
    padding: 0;
    
    li{
        
        padding: px($paddingUnit) px($paddingUnit * 2);
        border-bottom:1px solid #dedcda;
        border-top: 1px solid white;
        background-color: $superLightGrey;
        
        &:first-child{
            @include border-radius(px($borderRadius) px($borderRadius) 0 0);
        }
        &.action{ /* Handle the bottom border */
            @include border-radius(0 0 px($borderRadius) px($borderRadius));
			//.icon-16-heart-grey{
				//margin-left: 11px; /* center the add to wish list button under the add to cart */
				//}
            border-bottom: 0;
        }
        label{
            margin: px($paddingUnit+3) px($paddingUnit) 0 0;
            display: inline; /* IE */
            display: inline-block;
        }
        input, select{
			width: 60%;
            float: none;
            display: inline;
            display: inline-block;
        }
        @include clearfix;
    }
    .productPrice{ 
        font-size: px(30px);
        line-height: 1em;
        font-weight: bold;
    }
    .productMsrp{ text-decoration: line-through; }
    .productDiscount{ font-weight: bold; }
    .productAvailability{
        .status{
            font-weight: bold;
            color: black;
            background-color: transparent;
            padding-left: 0;
        }
        .shortStatus{
            display: none;
        }
        .details{
            .method{    
                &:before{
                    content: '(';
                }
                &:after{
                    content: ')';
                }
            }
        }
    }
    .price{ 
        background-color: white;
        .productGrouping{ color: $grey; }
        .details{ display: block; }
    }
    .quantity{
        input{ float: none; width: px(50px); }
    }
    .productAvailability{ background-color: white; }
    .action{
        .b1{ 
            margin-bottom: px($paddingUnit);
            margin-left: 0;
        }
        a{ display:block; }
    }
}


/* The notice has the little exclamation point icon to the left, is bold, with grey details... there is a specific html structure
 * to use with notices <span class='notice'>Main Text<span class='details'>Subtext</span></span> */
.notice{ 
    
    color: $black;
    font-weight: bold;
    position: relative;
    padding-left: px(16 + 5px);

    .details{
        font-weight: normal;
        display: block;
        clear: both;
    }
    &:before{
        background-color: red;
        content: ' ';
        display: block;
        position: absolute;
        top: px(2px);
        left: 0;
        width: px(16px);
        height: px(16px);
    }
}


/* Related items are the things-you-might need, hand selected products seen on product detail pages 
 * it's also seen in the cart, which is why it's here and not exclusively on the product-detail page
 * 
 * There is a little fancy-css happening which changes the look of the list based on how many items are listed */
.relatedItems{
    
    display: inline-block;
    position: relative;
	width: 100%;
    
    
    .productPrice{ 
		font-weight: 800;
		font-size: 14px;
		line-height: 22px;
		//position: relative;
		//left: 5px;
	}
	
	label{
		width: 100%;
	}

    .productName{ display:block; font-size: 13px; line-height: 19px; font-weight: normal; }
    img{ 
        margin-bottom: px($paddingUnit);
        border: 1px solid $lightGrey;
    }

    .currentItem{ 
         
        position: absolute;
        top:0;
        left:0;
        padding: px($gutterWidth / 2);
        padding-top: px($gutterWidth + $gutterWidth / 2);
        width: px(columns(2) - $gutterWidth);
        
		label{
			font-weight: normal;
		}
		
        .productName:before{ /* Because we can't display the overlay, add it to the name */
            content : 'This Item: ';
            font-weight: bold;
        }
        .productName::before{ /* Hide it from everything except IE8 */
            display: none;
        }
        .productName{  }
        
        &::after{ /* Double colon to hide from IE8 - which renders the background color behind the image */
            display: block;
            content: 'This Item';
            font-size: px(13px);
            position: absolute;
            top: px(60px);
            background-color: $grey;
            left: 50%;
            color: white;
            width: px(70px);
            text-align: center;
            margin-left: px(-35px, 13px);
            
        }
        &:before{
            content: '+';
            text-align: right;
            vertical-align: middle;
            font-size: px(30px);
            font-weight: bold;
            position: absolute;
            top: px(60px, 30px);
            right: px(-5px, 30px);
            
           
        }
        img{ 
            border: 0;
            margin: 0 px($gutterWidth);
            @include opacity(.5);
        }
    }
        
    ul{ 
        
		display:inline-block;
		width: 100%;
        //background-color: $superLightGrey;
		//-moz-background-clip: padding;     /* Firefox 3.6 */
		//-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
		//background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */


		
        border-left: px(columns(2) + $gutterWidth) solid transparent;
		@media (max-width: 979px){
			border-left: 0;
		}
		

        float:left;
		
		@include box-sizing();
		
		.element{
            background-color: $superLightGrey;
            display:inline-block;
            float:left;
            border: px($gutterWidth / 2) solid $superLightGrey;
            border-bottom-width: px($gutterWidth);
			color: inherit;
			text-decoration: none;
            clear:both;
    
			width: 100%;
			@include box-sizing();
	
            border-width: px($gutterWidth);
            border-top-width: 0;
            position: relative;
			.image{
                margin-left: px($paddingUnit);
                margin-right: px($paddingUnit * 2);
                float: left;
				width: 80px;
				height: 80px;
				margin-bottom: 0;
            }
			img{
				max-width: px(80px);
                max-height: px(80px);
            }
            input[type="checkbox"]{
                position: absolute;
                top: 0;
                left: 0;
            }
            .productPrice{
                overflow: hidden;
				left: 0;
                display: block;
            }
            .productName{
                overflow: hidden;
		
            }
			
			&:hover{
				.image img{
                    @include box-shadow-multiple(0 0 px(3px) 0 $darkYellow);
                    border-color: $darkYellow;  
				}
			}
			
		}
        li:first-child .element{
            border-top-width: px($gutterWidth);
        }
		
		/*
        li:nth-child(n){
			
			// Grid View 
			
            background-color: $superLightGrey;
            display:inline-block;
            float:left;
			clear: none;
			
            height: 100%;
            border: px($gutterWidth) solid $superLightGrey;
            border-left-width: 0;
            width: 160px;

			.image{
                float: none;
				margin: 0;
				width: 120px;
				height: 120px;
				margin-bottom: 10px;
            }
			img{
				max-width: px(120px);
                max-height: px(120px);
            }
            input[type="checkbox"]{
				float: left;
				position: relative;
            }
			&:first-child{
				border-width: $gutterWidth;
			}
           	
        }
		
		@media (max-width: 1199px){
			li:nth-last-child(n + 3),
			li:nth-last-child(n + 3) ~ li{
				@include listView();
			}
		}
		@media (min-width: 1200px){
	        li:nth-last-child(n + 4),
	        li:nth-last-child(n + 4) ~ li{
				@include listView();
			}
		}
		
        /* When there are 3 or more items, then display it as a list */
        
		
        li.disengaged{
            padding-top: 0;
            .productPrice, .productName, img{ @include opacity(.4); }
        }
            
    }
    .addToCart{
        
        display: inline-block;
        float: left;
        clear: both;
        
        .subtotal{
            display: inline-block;
            text-align: right;
            float: right;
            margin-right: px($paddingUnit);
			line-height: 20px;
			font-weight: 800;
			font-size: 14px;
            .details{
                display:block;
                font-weight: normal;
            }
        }
        button{
            display: block;
            float: right;
            position: relative;
            margin-right: px($paddingUnit);
        }
        .subtotal, button{ margin-top: $paddingUnit; }
    }
}

/* Dynamic Item Suggestions are the horizontal lists of items that are populated by easyask and list products
 * like "People who bought this also bought" or "Similar items" */
.dynamicItemSuggestions{
	
	.well{
		height: px(250px);
		width: 100%;
	}
	
	.itemList{
    
        margin-bottom: 0;
        padding-bottom: 0;
        border: 1px solid $lightGrey;
        border-width: 1px 0 3px 0;
	
        .productScope{
        
            border: 1px solid $lightGrey;
            border-bottom-width: 0;
            border-top-width: 0;
            border-right-color: transparent;
            float: left;
            width: 18	0px;
            position: relative;
            display: block;
            padding-bottom: px(2 * $paddingUnit);
        
            a{
                width: 100%;
                height: 100%;
                display: block;
                text-decoration: none;
            }
        
            &:nth-child(1){
                border-left-color: transparent;
            }
            &:last-child{
                border-right-color: transparent;
            }
            img{ margin: px($paddingUnit + 2);}
        
            .productPrice{ 
                font-weight: bold;
                padding-left: px($paddingUnit + 4); /* The $ makes the price look unaligned */
                text-decoration: none;
                color: $black;
            }
            .productName{ 
                display: block; 
                padding: 0 px($paddingUnit + 2);
                color: $black;
            }
            &:hover{
                @include box-shadow-multiple(0 0 px(5px) 0 $darkYellow);
                border: 1px solid $darkYellow;
                border-bottom-width: 0;
                border-top-width: 0;
            }
        }
    
        @include clearfix;
    
    }
}



/* Definitions are marked with the attribute "data-def" - any text with this attribute
 * will be populated with the definition data, and get a little lightning bolt icon */
*[data-def]{
	margin-right: 0;
	dl{
		display: none;
	}
}
@media (min-width: 767px){
    *[data-def]{
        position: relative;
        display:inline-block;
        margin-right: px(2px);
		
		&:hover:before;{
			content:' ';
			background-color: rgba(0,0,0,0.0001);
			width: 120%;
			height: 100px;
			position: absolute;
			right: 0;
			top: 0;
			display: block;
		}
        dl{
            display: none; 
            position: absolute;
            left: px(-1* (columns(2)) - 8px);
            top: px(-4px);
            width: px(columns(2));
            border-left: px($paddingUnit) solid $yellow;
            .details{
                display: block;
                margin: px($paddingUnit) 0;
                float:right;
            }
            @include panel-arrow(6px, 'right', $white, 20px);
        }
        &:after{
            content: '';
            width: px(16px);
            height: px(16px);
            display:inline-block;
            margin: 0 px(2px) 0 px(3px);
            background-color: $lightGrey; /* $lightGrey */
			background: -6px -410px url(../img/lsp-master-sprite.png) $lightGrey ;
            @include border-radius(px($borderRadius));
            position:relative;
            top: px(4px);

        }
        &:hover:after{
            background-color:$yellow;
        }
        &:hover{
            dl{
                display:block;
            }
        }
    }
}

/* Badges */
*[data-badge]{
	position:relative;
	display:inline-block;
	zoom:1;
	*display:inline; /* IE7 inline-block Fix */
	/* Generic badge styling */
	.badges-badge{ 
	    position: absolute;
	    top: 5px;
	    left: 5px;
		padding: px(5px) px(8px);
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		
		@include border-radius(px($borderRadius));
		
	}

	/* Individual Badges */
	.badge-new{
	    background-color: red;
	}
}

/* Data-Reveal Children Plugin */
*[data-reveal-children]{
	cursor: pointer;
}
.reveal-child{
	display: none !important;
}
.reveal-isOpen, .reveal-onMouseover.reveal-ShowOnHover{
	display: inherit !important;
}

@media (max-width: 767px){
	.reveal-isOpen.hidden-phone{
		display: none !important;
	}
}


/* Useful when showing/hiding things in javascript */
.hide{
	display: none;
}

/* Aggregate reviews are basically just the 5 star rating, it uses the old-school sliding doors method */
.aggregateReviews{
    
    width: px(200px);
    background: -3px -384px url(../img/lsp-master-sprite.png);
    display: inline-block;
	margin-top: 5px;
    
    .reviewAggregateRating{ 
		background: -3px -354px url(../img/lsp-master-sprite.png);
		display: inline-block;
		text-indent: -1000px;
	}
	.reviewAggregateRating[data-reviews-aggregateRating]{ width: px(0px); margin-right: 100px; }
    .reviewAggregateRating[data-reviews-aggregateRating="1"]{ width: px(20px); margin-right: 80px; }
    .reviewAggregateRating[data-reviews-aggregateRating="2"]{ width: px(40px); margin-right: 60px;}
    .reviewAggregateRating[data-reviews-aggregateRating="3"]{ width: px(60px); margin-right: 40px;}
    .reviewAggregateRating[data-reviews-aggregateRating="4"]{ width: px(80px); margin-right: 20px;}
    .reviewAggregateRating[data-reviews-aggregateRating="5"]{ width: px(100px); margin-right: 0px;}
    a{
		position: relative;
		top: -3px;
    }
	.reviewCount{
        &:before{ content: '('; }
        &:after{ content: ')'; }
    }
}