/* Header */
.header {
    
    /* Layout */
    margin:0 auto px(10px);
	position: relative;
	width: 100%;
    @include clearfix;
    
    background: url(../img/dark_pattern.jpg);
    
    .logo{
        float: left; 
    }
    
    .b3{ 
        /* Other darker buttons like Wish List and Your Cart */
        /* These are the color-specific declarations, the main styling is in form.scss under highlight-icon property */
        
        text-shadow: -1px -1px #000000;
        color: #fff;
        border-color: $darkBrownBorder;
        @include gradient($brown, $darkBrown);
        @include box-shadow-multiple(0 1px 0px #7b6d62 inset, 
                                     0 2px 3px #000); /* Top Highlight, Drop shadow */  
        
        &:hover{
            @include gradient(#574c41, $darkBrown); /* Hover light brown */
        }
        
        &:before{
            background-color: #3F362F;
            @include box-shadow-multiple(0 -1px 0 #52483d inset, 0 -1px 0 rgba(255, 255, 255, .2) inset, 0 1px 0 #312a24 inset);
        }
    }
    
    .well{
        
        $_taglineMarginTop : 60px;
        /* This is the section between the nav bar and the shop bar */
       
        position: relative;
		margin-top:-23px;
		height: 136px;
		overflow: visible;
        clear: both;
		float: none;
		margin: auto;
        color: #ffffff;
        text-transform: uppercase;
        
        //font-size: 110%;
        
        .logo {
            float: left;
			margin-top:-27px;
			@media (max-width: 767px){
				margin-top: 0;
			}
        
        }
        
        .established{
            
            float: left;
            margin: px($_taglineMarginTop) px(10px) px(10px); /* Should be same as margin-top on .tagline */
            
            .year:before{
                
            }
        }
        
        .tagline{
            float: right;
            margin: px($_taglineMarginTop) px(10px) px(10px);
			font-size: 16px;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
        }
		
    }
    
    .navbar {
        
        /* The list of actions at the top of the page */
        
        float: right;
		width: 100%;
        background-color: rgba(0,0,0,0.25);
        
		.utilityLinks{
        	float: none;
			margin: auto;
        }
		
        li {    
            display: inline-block;
            margin: 0;
            float:right;
            
        }
        
        .b5{
            text-transform: uppercase;
            text-decoration: none;
            margin: 0;
            color: #fff;
            font-weight: bold;
            display: block;
            font-size: px(12px);
            
            /* How far apart items are from one another, don't forget space for the icon */
            padding: px(10px, 12px) px(15px, 12px) px(10px, 12px) px(45px, 12px); 
			@media (max-width: 979px) and (min-width: 768px){
				padding-left: px(15px);
			}
            
            &:after{
                left: px(10px);
				@media (max-width: 979px) and (min-width: 768px){
					margin:0;
					display: none;
				}
            }
            &:hover{
                background-color: #322c28;
            }
        }
    }  
    
    .shopbar {
        
        /* Includes the Shop by Department, Search bar, and other darker buttons */
        
        clear:both;
		float: none;
		margin: -15px auto auto;
        height: px(60px); /* We have to give it a height because the inner li's are float:left */
        line-height: px(41px);
		
		@media (max-width: 767px){
			margin:0;
		}
        
        li {
            position: relative;
            margin-left: px(2 * $paddingUnit);
        }
		
        .b2, .b3, .b4{
            padding-top: px(8px, 13px);
            padding-bottom: px(8px, 13px);            
        }
		
        .b1{
            width: px(110px, $b1FontSize); /* Shop By Department */
            margin-left: 0;
			padding-left: 40px;
            padding-top: px(8px, 14px);
            padding-bottom: px(8px, 14px);
			
			&:after{
				left: 8px;
			}
			
            strong:after{ /* We need .b1:after for the icon, so we'll use .b1 strong:after for the little down arrow */
              border-color: black transparent transparent transparent;
              border-style:solid;
              border-width: px(5px);
              width:0;
              height:0;
              content: '';
              position: absolute;
              top: px(23px);
              right: px(10px);
            }
            
        }
        .wishlist{
			float: right;
			.b3{
           	  	width: px(20px);
			}
        }
        .departments{
			float: left;
            margin-left: 0;  
			margin-right: px($paddingUnit); 
        }
        .cart{
			
			float: right;
		}
	 	.b3{
        	width: px(60px);
	        padding-right: px(35px); /* Only if we are going to use the count */
	        margin-left: 0; /* Generally we want the margin, so it's on the generic definition, but here we don't */
	        margin-right: 0;
    
	        .count{
	            background-color: $yellow;
	            color: black;
	            padding: px(3px);
	            position: absolute;
	            font-weight: bold;
	            padding: px(3px) px(7px);
	            right: px(27px);
	            top: px(13px);
	            @include border-radius(px(3px));
	            text-shadow: 0 1px $saturatedHighlightYellow; /* Intentionally 1px, not in EMs */
        
	            &:after{ /* We need .b3:after for the icon, so we'll use .b3 count:after for the little down arrow */
	              border-color: white transparent transparent transparent;
	              border-style:solid;
	              border-width: px(5px);
	              width:0;
	              height:0;
	              content: '';
	              position: absolute;
	              top: px(9px);
	              right: px(-18px);
	            }
	            @include box-shadow-multiple(0px 1px 1px 1px #25211c, 0 1px 1px 0px #fdf8a6 inset); /* Intentionally 1px */
	            @include gradient($lightYellow, $yellow);
	        }
		}
        input.search { /* Main Search bar */
            
            width: 100%;
            display: inline-block;
            margin-right: 0;
            font-size: px($largeInputFontSize);
            padding : px($paddingUnit * 2+4, $largeInputFontSize) px($inputPadding+2, $largeInputFontSize);
			
        }

        .search{
        	overflow: hidden;
			float: none;
			margin-left: 0;
			
			button { /* Magnifying glass button */
	            width: px(44px);
	            height: px(44px);
	            position: absolute;
	            right: px(3px);
	            top: px(3px);
	            margin: 0;
	            text-indent: -$hideDistance;
	            overflow: hidden;
	            &:after{ /* Icon! */
	                left: 50%;
	                margin-left: px(-12px);
	            }
			}
        }
    }
    
    .breadcrumbs{
      
        /* The list of breadcrumbs below the shopbar */
        
        background-color: $superLightGrey;
        padding: px($paddingUnit) 0;
        width: 100%;
        float: left;
		font-size: 11px;
		
		@media (max-width: 767px){

			border: 20px solid transparent;
			border-width: 0 20px;
			@include box-sizing();
	
		}
		
		.breadcrumbLinks{
			float: none;
			margin: auto;
			
		}
		
        li{ 
          
            /* Each item contains an A tag which contains the text of the category */
            
            float: left;
            
            &:after{
                content: '→';
                padding:0 px(5px);
            }
            &:last-child:after{
                content: '';
            }
            
            &:last-child a{
                text-decoration: none; 
                color: $black;
				font-weight: bold;
            }
        }
    }
	@media (min-width: 768px){
		.search{
			display:block !important; /* the rare case that a user hides search, and flips their tablet */
		}
	}
	@media (max-width: 767px){
		.established, .tagline, .wishlist{
			display: none;
		}
		.image-logoCircle, .well{
			width: 120px;
			height: 64px;
			float: left;
			background-position: -190px -158px;
		}
		.navbar{
			display: none;
		}
		.shopbar{
			
			padding: 0;
			width: 70%;
			float: right;
			clear: none;
			
			li.search{
				position:absolute;
				top: 64px;
				left: 0;
				background: url(../img/dark_pattern.jpg);
				
				padding: 10px;
				width: 100%;
				z-index: 1;
		        @include box-shadow-multiple(0 2px 3px #000); /* Top Highlight, Drop shadow */  
											 
				
				
				@include box-sizing();
				.b2{
					top:13px;
					right:13px;
				}
			}
			.departments{
				margin-right: 70px;
			}
			.mobileSearch{
				margin-right:140px;
			}
			.departments{
				float:right;
			}
			
			.cart .icon-24-cart-white{
				background-position: -239px -103px;
			}
			.departments .icon-24-star-black{
				background-position: -333px -103px
			}
			.mobileSearch .b3{
				background-position: -189px -103px;
			}
			.mobileSearch .b3.reveal-isOpen{
				background-position: -189px -209px;
			}
			.b1, .b3{
				float:right;
				width: 64px;
				height: 64px;
				text-indent: -1000px;
				background: transparent;
				background: url(../img/lsp-master-sprite.png);
				position: absolute;
				margin: 0;
				padding: 0;
				top:0px;
				right:0px;
				border: 0;
			
				@include box-shadow-multiple(none);
				@include box-sizing();
				@include border-radius(0);
			
				&:after, &:before{
					display: none;
				}
				strong, span{
					display: none;
				}
			}
		}
	}
	
}
