*[class*="icon-"]{

    position: relative;
    
    &:after{
        content: ' ';
        display: block;
        background: url(../img/lsp-master-sprite.png);
		background-position: 0 0;
        position: absolute;
        top: 50%;
        left: 2px;
    }
}

*[class*="icon-24-"]{
	content: '  ';
    
    padding-left: 28px;

    &:after{
        width: 24px;
        height: 24px;
        margin-top: -12px;
    }
}

.b1[class*="icon-24-"]{
	&:after{
		left: 5px;
	}
	padding-left: 35px;
}

*[class*="icon-16-"]{
    
	content: '   ';
    padding-left: 22px;

    &:after{
        width: 16px;
        height: 16px;
        margin-top: -8px;
    }
}

.icon-16-heart-grey:after{
	background-position: -48px -409px;
}

.icon-24-voteUp:after{
	background-position: -39px -147px;
}
.icon-24-voteDown:after{
	background-position: -8px -150px;
}

.icon-24-account-grey:after{
	background-position: -4px -185px;
}

.icon-24-chat-grey:after{
	background-position: -155px -185px;
}

.icon-24-box-grey:after{
	background-position: -80px -185px;
}

.icon-24-texas-grey:after{
	background-position: -43px -185px;
}

.icon-24-card-grey:after{
	background-position: -117px -185px;
}

.icon-24-star-black:after{
	background-position: -45px -256px;
}

.icon-24-magnify-black:after{
	background-position: -7px -256px;
}


.icon-24-cart-black:after{
	background-position: -8px -322px;
}

.icon-24-star-yellow:after{
	background-position: -8px -220px;
}
.icon-24-chat-yellow:after{
	background-position: -156px -292px;
}
.icon-24-phone-yellow:after{
	background-position: -82px -220px;
}
.icon-24-clock-yellow:after{
	background-position: -45px -220px;
}
.icon-24-texas-yellow:after{
	background-position: -120px -220px;
}
.icon-24-account-yellow:after{
	background-position: -156px -220px;
}
.icon-24-heart-white:after{
	background-position: -8px -292px;
}
.icon-24-cart-white:after{
	background-position: -45px -292px;
}

.icon-24-toggleHide:after{
	text-indent:0;
	line-height: 22px;
	margin-left: 1px;
	content: '+' !important;
	font-size: 25px;
	background-image: none;
	font-weight: normal;
	text-align:center;
}
.icon-24-toggleHide.reveal-isOpen:after{
	content: '-' !important;
}
.icon-16-toggleHide:after{
	text-indent:0;
	line-height: 16px;
	margin-left: 1px;
	content: '+' !important;
	font-size: 21px;
	background-image: none;
	font-weight: normal;
	text-align:center;
	left: 0;
}
.icon-16-toggleHide.reveal-isOpen:after{
	content: '-' !important;
	line-height: 15px;
}

.icon-24-facebook-white:after{
	background-position: -7px -488px;
}
.icon-24-twitter-white:after{
	background-position: -47px -488px;
}
.icon-24-instagram-white:after{
	background-position: -87px -488px;
}
.icon-24-youtube-white:after{
	background-position: -127px -488px;
}

.icon-24-compact:after{
	background-position: -46px -323px;
}

.icon-24-list:after{
	background-position: -82px -322px;
}
.gridView .icon-24-compact:after{
	background-position: -82px -292px;
}

.listView .icon-24-list:after{
	background-position: -118px -291px;
}

.icon-24-leftArrow:after{
	background-position: -82px -256px;
}
.icon-24-rightArrow:after{
	background-position: -117px -256px;
}


.icon-16-close:after{
	content: 'x';
	color: white;
	line-height: 13px;
	text-align:center;
	font-size: 11px;
	top:2px;
	margin-top:0;
	background-color: #847e77;
	@include border-radius(16px);
}
/*
.icon-texas
.icon-texas
.icon-texas
.icon-box
.icon-card
.icon-chat
.icon-account
.icon-star
.icon-magnify
.icon-heart
.icon-cart
.icon-close
.icon-toggleHide
.icon-leftArrow
.icon-rightArrow
.icon-lock
.icon-phone
.icon-clock
.icon-Facebook
.icon-twitter
.icon-youtube
.icon-instagram*/