*[class*="icon-"]{

    position: relative;
    
    &:after{
        content: ' ';
        display: block;
        background: url(../img/lsp-master-sprite.png);
		background-position: 0 0;
        position: absolute;
        top: 50%;
        left: 2px;
    }
}

*[class*="icon-24-"]{
	content: '  ';
    
    padding-left: 30px;

    &:after{
        width: 24px;
        height: 24px;
        margin-top: -12px;
    }
}

*[class*="icon-16-"]{
    
	content: '   ';
    padding-left: 20px;

    &:after{
        width: 16px;
        height: 16px;
        margin-top: -8px;
    }
}

.icon-24-voteUp:after{
	background-position: -39px -147px;
}
.icon-24-voteDown:after{
	background-position: -8px -150px;
}

.icon-24-account-grey:after{
	background-position: -4px -185px;
}

.icon-24-chat-grey:after{
	background-position: -155px -185px;
}

.icon-24-box-grey:after{
	background-position: -80px -185px;
}

.icon-24-texas-grey:after{
	background-position: -43px -185px;
}

.icon-24-card-grey:after{
	background-position: -117px -185px;
}

.icon-24-star-black:after{
	background-position: -45px -256px;
}

.icon-24-magnify-black:after{
	background-position: -7px -256px;
}

.icon-24-star-yellow:after{
	background-position: -8px -220px;
}
.icon-24-phone-yellow:after{
	background-position: -82px -220px;
}
.icon-24-clock-yellow:after{
	background-position: -45px -220px;
}
.icon-24-texas-yellow:after{
	background-position: -120px -220px;
}

.icon-24-heart-white:after{
	background-position: -8px -292px;
}
.icon-24-cart-white:after{
	background-position: -45px -292px;
}

.icon-24-toggleHide:after{
	text-indent:0;
	line-height: 22px;
	margin-left: 1px;
	content: '+' !important;
	font-size: 25px;
	background-image: none;
	font-weight: normal;
}
.icon-24-toggleHide.reveal-isOpen:after{
	content: '-' !important;
}
/*
.icon-texas
.icon-texas
.icon-texas
.icon-box
.icon-card
.icon-chat
.icon-account
.icon-star
.icon-magnify
.icon-heart
.icon-cart
.icon-close
.icon-toggleHide
.icon-leftArrow
.icon-rightArrow
.icon-lock
.icon-phone
.icon-clock
.icon-Facebook
.icon-twitter
.icon-youtube
.icon-instagram*/