// This allows you to show only a certian number of direct list elements
// This is useful for features, videos, audio, and other lists.

.show0Elements{ display: none; }
// .show0Elements, .show2Elements, .show3Elements , .show4Elements, .show5Elements, .show6Elements{
// 	> ul.list > li{ display: none; }
// } 
.show1Elements > ul.list > li:first-child ~ li{ display: none; }
.show2Elements > ul.list > li:first-child + li ~ li{ display: none; }
.show3Elements > ul.list > li:first-child + li + li ~ li{ display: none; }
.show4Elements > ul.list > li:first-child + li + li + li ~ li{ display: none; }
.show5Elements > ul.list > li:first-child + li + li + li + li ~ li{ display: none; }
.show6Elements > ul.list > li:first-child + li + li + li + li + li ~ li{ display: none; }

