// This allows you to show only a certian number of direct list elements
// This is useful for features, videos, audio, and other lists.

.show0Elements{ display: none !important; }

.show1Elements > ul.list > li:first-child ~ li,
.show1Elements > li:first-child ~ li{ display: none !important; }

.show2Elements > ul.list > li:first-child + li ~ li,
.show2Elements > li:first-child + li ~ li{ display: none !important; }

.show3Elements > ul.list > li:first-child + li + li ~ li,
.show3Elements > li:first-child + li + li ~ li{ display: none !important; }

.show4Elements > ul.list > li:first-child + li + li + li ~ li,
.show4Elements > li:first-child + li + li + li ~ li{ display: none !important; }

.show5Elements > ul.list > li:first-child + li + li + li + li ~ li,
.show5Elements > li:first-child + li + li + li + li ~ li{ display: none !important; }

.show6Elements > ul.list > li:first-child + li + li + li + li + li ~ li,
.show6Elements > li:first-child + li + li + li + li + li ~ li{ display: none !important; }

.show7Elements > ul.list > li:first-child + li + li + li + li + li + li ~ li,
.show7Elements > li:first-child + li + li + li + li + li + li ~ li{ display: none !important; }

.show8Elements > ul.list > li:first-child + li + li + li + li + li + li ~ li,
.show8Elements > li:first-child + li + li + li + li + li + li + li ~ li{ display: none !important; }