/* Panels */
/* A panel is a boxed divison, like each step on checkout, the add-to-cart panel on product detail page, etc */
.panel, a .panel{
	@include box-shadow-multiple(0 0 px(3px) 0 $lightGrey);
	background-color: $white;
	display: inline-block;
	position: relative;
	border: 1px solid $lightGrey;
	@include border-radius(px($borderRadius));
	padding: px($paddingUnit + 3) px($paddingUnit * 2) 0;
	
	@include box-sizing();
	
	margin-bottom: 17px;
	color: $black;
	h2{
		margin-top:6px;p
		//margin-bottom: px($paddingUnit);
	}
}

/* A section is a broken division within a panel, generally titled by a header tag, it basically adds a line break and some margins */
.section{
	padding-bottom: px(3 * $paddingUnit);
	clear: both;
	@include clearfix();
	&:last-child{ border-bottom: 0; }
	h2{
		//margin-bottom: px($paddingUnit);
	}
}

/* An engaged panel has a yellow highlight on top */
.panel.engaged{
	border-top: px($paddingUnit) solid $yellow;
	padding-top: 5px;
}

/* Disengaged panels are grey */
.panel.disengaged{
	background-color: $superLightGrey;
	padding-top: px((2 * $paddingUnit) - 2px); /* Make up for engaged's border-top */
}

.panel.clean{
	background-color: transparent;
	border-color: transparent;
	padding-top: px((2 * $paddingUnit) - 2px);
	padding-right: 0;
	padding-left: 0;
	@include box-shadow-multiple(none);
}