.relatedItems{
	
	display: inline-block;
	position: relative;
	width: 100%;
	
	@media (min-width: 980px) {
		padding-left: px(columns(2) + $gutterWidth);
	}

	@include box-sizing();


	// For the time being until we add functionality to add to car
	input{ display: none; }
	a{
		&:hover{
			.productName{
				text-decoration: underline;
			}
		}
		&:before{
			content: ' ';
			display: block;
			width: 100%;
			height: 100%;
			background-color: white;
			position: absolute;
			z-index: 2;
			@include opacity(.01);
			@include box-sizing();
		}
	}


	
	.productPrice{ 
		font-weight: 800;
		font-size: 14px;
		line-height: 22px;
		//position: relative;
		//left: 5px;
	}
	
	label{
		width: 100%;
	}

	.productName{ display:block; font-size: 13px; line-height: 19px; font-weight: normal; }
	
	img{ 
		margin-bottom: px($paddingUnit);
		border: 1px solid $lightGrey;
	}

	.currentItem{ 
		 
		position: absolute;
		top:0;
		left:0;
		padding: px($gutterWidth / 2);
		padding-top: px($gutterWidth + $gutterWidth / 2);
		width: px(columns(2) - $gutterWidth);
		
		label{
			font-weight: normal;
		}
		
		.productName:before{ /* Because we can't display the overlay, add it to the name */
			content : 'This Item: ';
			font-weight: bold;
		}
		.productName::before{ /* Hide it from everything except IE8 */
			display: none;
		}
		.productName{  }
		
		&::after{ /* Double colon to hide from IE8 - which renders the background color behind the image */
			display: block;
			content: 'This Item';
			font-size: px(13px);
			position: absolute;
			top: px(60px);
			background-color: $grey;
			left: 50%;
			color: white;
			width: px(70px);
			text-align: center;
			margin-left: px(-35px, 13px);
			
		}
		&:before{
			content: '+';
			text-align: right;
			vertical-align: middle;
			font-size: px(30px);
			font-weight: bold;
			position: absolute;
			top: px(60px, 30px);
			right: px(-5px, 30px);
			
		   
		}
		img{ 
			border: 0;
			margin: 0 px($gutterWidth);
			@include opacity(.5);
		}
	}
		
	ul{ 
		
		display:inline-block;
		width: 100%;
		//background-color: $superLightGrey;
		//-moz-background-clip: padding;     /* Firefox 3.6 */
		//-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
		//background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */


		
		//border-left: px(columns(2) + $gutterWidth) solid transparent;
		background-color: $superLightGrey;
		@media (max-width: 979px){
			border-left: 0;
		}
		

		float:left;
		
		@include box-sizing();
		
		
		/*.element{
			background-color: $superLightGrey;
			display:inline-block;
			float:left;
			border: px($gutterWidth / 2) solid $superLightGrey;
			border-bottom-width: px($gutterWidth);
			color: inherit;
			text-decoration: none;
			clear:both;
	
			width: 100%;
			@include box-sizing();
	
			border-width: px($gutterWidth);
			border-top-width: 0;
			position: relative;
			.image{
				margin-left: px($paddingUnit);
				margin-right: px($paddingUnit * 2);
				float: left;
				width: 80px;
				height: 80px;
				margin-bottom: 0;
			}
			img{
				max-width: px(80px);
				max-height: px(80px);
			}
			input[type="checkbox"]{
				position: absolute;
				top: 0;
				left: 0;
			}
			.productPrice{
				overflow: hidden;
				left: 0;
				display: block;
			}
			.productName{
				overflow: hidden;
		
			}
			
			&:hover{
				.image img{
					@include box-shadow-multiple(0 0 px(3px) 0 $darkYellow);
					border-color: $darkYellow;  
				}
			}
			
		}
		li:first-child .element{
			border-top-width: px($gutterWidth);
		}
		*/
		
		.productScope{
			display: none;
		}
		
		.productScope:first-child,
		.productScope:first-child + .productScope{
			display: block;
			float:left;
			width: 50%;
		}
		
		
		@media (min-width: 1200px){
			.productScope:first-child,
			.productScope:first-child + .productScope,
			.productScope:first-child + .productScope + .productScope{
				display: block;
				float:left;
				width: 33%;
			}
		}
		
		.element{
			
			// Grid View 
			
			float:left;
			border: px($gutterWidth / 2) solid $superLightGrey;
			border-bottom-width: px($gutterWidth);
			color: inherit;
			text-decoration: none;
			width: 100%;
			@include box-sizing();
	
			border-width: px($gutterWidth);
			border-top-width: 0;
			position: relative;
			
			background-color: $superLightGrey;
			display:inline-block;
			float:left;
			clear: none;
			
			height: 100%;
			border: px($gutterWidth) solid $superLightGrey;
			border-left-width: 0;
			width: 100%;

			.image{
				float: none;
				margin: 0;
				width: 120px;
				height: 120px;
				margin-bottom: 10px;
			}
			img{
				max-width: px(120px);
				max-height: px(120px);
			}
			input[type="checkbox"]{
				float: left;
				position: relative;
			}
			&:first-child{
				border-width: $gutterWidth;
			}
			
		}
		
		/* When there are 3 or more items, then display it as a list */
		
		li.disengaged{
			padding-top: 0;
			.productPrice, .productName, img{ @include opacity(.4); }
		}
			
	}
	.addToCart{
		

		// hide until we add the functionality for this
		//display: inline-block;
		display: none;

		float: left;
		clear: both;
		margin-top:5px;
		
		.subtotal{
			display: inline-block;
			text-align: right;
			float: right;
			margin-right: px($paddingUnit);
			line-height: 20px;
			font-weight: 800;
			font-size: 14px;
			.details{
				display:block;
				font-weight: normal;
			}
		}
		button{
			display: block;
			float: right;
			position: relative;
			margin-right: px($paddingUnit);
		}
		.subtotal, button{ margin-top: $paddingUnit; }
	}
}
