
/* Data-Reveal Children Plugin */
.reveal-closed { display: none; }
.reveal-open{ display: block; }
.reveal-closed[data-reveal-children]{
	display: block;
}
// .reveal-child.reveal-isClosed{ display: none !important; } // Closed
// .reveal-child.reveal-isOpen{ display: inherit !important; } // Open
// .reveal-child.reveal-isOpen.reveal-isClosed{ display: block !important; } // In Transition

// // Don't force hidden open parents to show.. we'll let the cascade determine that
// .reveal-parent.reveal-isOpen{ display: inherit; }

// .reveal-openOnlyDesktop{ display: inherit; }

@media (max-width: 767px){
	*[data-reveal-children]{ cursor: pointer; }
	.reveal-closed.reveal-closed-phone{
		display: none;
	}
	.reveal-closed.reveal-closed-phone[data-reveal-children]{
		display: block;
	}
}
