table.table{

	width: 100%;
	margin-bottom: 10px;

	thead td{
		
		padding: 10px;
		text-align: center;
		color: $grey;
		border: 1px solid $lightGrey;
		border-width: 1px 0px 1px 1px;
		
		&:first-child{
			border-left-width: 0px;
			text-align: left;
		}
	}

	tbody td{
		border-bottom: 1px solid $lightGrey;
		padding: 10px;
	}

	@media (max-width: 767px){
		thead{
			display: none;
		}
		&, tr, td, tbody{
			display: block !important;
			@include box-sizing();
		}
		tbody td{
			border-bottom: 0;
			padding: 0;
		}
		tr{
			padding: 10px 0;
			border-bottom: 1px solid $lightGrey;
			&:first-child{
				border-top: 1px solid $lightGrey;
			}
		}
	}
}

