@import "../utilities/settings";
@import "../utilities/functions";


.validation-container{

	&[data-validation-invalidTypes]{
		
		position: relative;
		
		input, textarea, select{
			background-color: #ffe0e0 !important;
			&:focus{
				@include box-shadow-multiple(0 0 px(3px, $inputFontSize) 0 #bb0000);
				border-color: #bb0000;
			}
		}

		&:after{
			display: block;
			content: 'Required';
			font-size: 12px;
			font-style: italic;
			color: #bb0000;
		}
	}

	&[data-validation-invalidTypes*="overGiftCardAmount"]{
		&:after{
			content: 'Any value between $1 and $1000';
		}
	}
	
}