.zoomPad{
    position:relative;
	float:left;
	z-index:99;
}


.zoomPreload{
   display:none;
}


.zoomPup{
	overflow:hidden;
	position:absolute;
	border:1px solid #CCC;
    z-index:101;
    background-image: url(../img/1x1-white-50p-transparent.png);
}

.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
  z-index:101;
}

.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
  z-index:10000;
  z-index:110;
     box-shadow: 0px 0 10px 0 grey;
}
.zoomWrapper{
	position:relative;
	border:1px solid #ebebeb;
  z-index:110;
}
.zoomWrapperTitle{
display:none !important;
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}

.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}

/*********************************************************
/ When clicking on thumbs jqzoom will add the class
/ "zoomThumbActive" on the anchor selected
/*********************************************************/