/* These codes and procedures are copyright protected by Gproxy Design Inc. � 2004/2008 and the website owner. 
Gproxy Design Inc. does not authorize the copy or use of these by any third party company. */


/*-----------------------------------------------
	Modify NetSuite styles
----------------------------------------------- */

img{-ms-interpolation-mode: bicubic;}

a:hover	{
	text-decoration: underline !important;
}

#carttableheader .listheadernosort {
	color:#000000;
}

#carttable .input {
	color:#000000;
}

#carttable .texttablert {
	color:#d0d0d0;
}

#carttable .texttable {
	color:#d0d0d0;
}

.smalltextnolink, .smalltextnolink a {
	color:#d0d0d0;
}

.header3ddiv .smalltext {
	color:#000000;
}
#mainContents .correlated-items { /*padding-top: 15px;*/ }
.input, .input a {
	color:#999999;
}

.header3dtd, .header3dtd a {
	color:#000000;
}

.smalltextctr, .smalltextctr a {
	color:#000000;
}

.bgbar, .bgbar a {
	background-color:#000000;
}

.bgontabbottom {
	background-color:#000000;
	color:#CCCCCC;
}

.smalltextbnolink, .smalltextbnolink a {
	color:#d0d0d0;
}

.smalltextb, .smalltextb a {
	color:#d0d0d0;
}

form {
	margin: 0;
}

#div__label {
	display:none;
}


/*-----------------------------------------------
	General styles
----------------------------------------------- */

input, select {
	border-width: 1px !important;
}

.no-padding {
	padding:0;
	margin:0;
}

body {
	background-color: #000000;
	margin: 0;
}

a {
	color:#d0d0d0;
}


/*-----------------------------------------------
	Header styles
----------------------------------------------- */

.header-bg {
	background-image: url(https://d2bghjaa5qmp6f.cloudfront.net/templates/header/ls-bg-menu.gif);
	background-position: left top;
	height:146px;
	background-repeat:repeat-x;
}
.top-nav-links	{
	font-size: 12px;
	padding-top: 22px;
	white-space: nowrap;
}
.top-nav-links a	{
	color: #333;
}
.top-nav-links a:hover	{
	text-decoration: none;
}
.breadcrumbs, .breadcrumbs a,  .breadcrumbs a:hover {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: normal;
	text-decoration:none;
	color: #d0d0d0;
}

.linksregister {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: normal;
	color: #d0d0d0;
	white-space:nowrap;
	text-decoration:none;
}

.linksregister a {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: normal;
	color: #e3e3e3;
	white-space:nowrap;
	text-decoration:underline;
}

.price {
	font-family: "Tahoma";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	white-space:nowrap;
}

.price-header {
	font-family: "Tahoma";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}


/*-----------------------------------------------
	Left styles
----------------------------------------------- */

.linksleft, .linksleft a {
	font-family: "Tahoma";
	font-size: 12px;
	font-weight: normal;
	text-decoration:none;
	color: #d0d0d0;
	line-height:16px;
	padding-left:2px;
}

.bg-bybrand {
	background-image:url(https://d2bghjaa5qmp6f.cloudfront.net/templates/left/ls-searchbybrand.jpg);
	background-repeat:no-repeat;
}

.left-dropdown, .left-dropdown a {
	width:154px;
	height:22px;
	font-family:"Tahoma";
	font-size:11px;
	vertical-align:baseline;
}

.bgleft-flash {
	background-image:url(https://d2bghjaa5qmp6f.cloudfront.net/templates/left/ls-search.jpg);
	background-position:top left;
	background-repeat:no-repeat;
}

.advanced-search, .advanced-search a {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: normal;
	text-decoration:underline;
	color: #f5d409;
	line-height:16px;
	padding-left:2px;
}

.box-textnews {
	width:100px;
	height:15px;
	border:none;
	font-family:"Tahoma";
	font-size:11px;
	vertical-align:baseline;
}



/*-----------------------------------------------
	Left dinamic styles
----------------------------------------------- */

.smalltext, .smalltext a {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: normal;
	text-decoration:none;
	color: #d0d0d0;
	line-height:16px;
	padding-left:2px;
}

.textboldnolink, .textboldnolink a {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: normal;
	text-decoration:none;
	color: #f5d409;
	line-height:16px;
	padding-left:2px;
	display:none;
}


/*-----------------------------------------------
	Right styles
----------------------------------------------- */

.emailtext {
	font-weight: normal; 
	font-family:"Tahoma"; 
	font-size:10px; 
	color:#fcce06;
}

#button-join {
	font-family:"Tahoma";
	font-size:12px;
	background-color:#000000;
	color:#fcce06;
	font-weight:bold;
	border-color:#000000;
	height:20px;
}

.box-textnews {
	width:100px;
	height:15px;
	border:none;
	font-family:"Tahoma";
	font-size:11px;
	vertical-align:baseline;
}

.bg-newsletter {
	background-image:url(https://d2bghjaa5qmp6f.cloudfront.net/templates/right/ls-banner-newssignup.jpg);
	background-repeat:no-repeat;
	background-position:top left;
}




/*-----------------------------------------------
	Home styles
----------------------------------------------- */

.banner-rightbg {
	background-image: url(https://d2bghjaa5qmp6f.cloudfront.net/templates/center/ls-banner-lonestarnews.jpg);
	background-position: left top;
	background-repeat:repeat-x;
	height:120px;
	width:260;
}

.text-banner, .text-banner a {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
    padding-top:8px;
	padding-bottom:8px;
	padding-right:5px;
}

.relatedbox-lineborder1 {
	background-color:#ffcc00;
}

.relatedbox-border {
	border-right:1px solid #ffcc00;
	border-left:1px solid #ffcc00;
}

.price-featured, .price-featured a {
	font-family: "Tahoma";
	font-size: 12px;
	font-weight: bold;
	color: #d0d0d0;
	text-decoration:none;
}

.featured-name, .featured-name a {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: bold;
	color: #ffcc00;
}

#featured-max IMG {
	width:120px;
}

/*-----------------------------------------------
	Footer styles
----------------------------------------------- */

.footer-linebk-bg {
	background-image:url(https://d2bghjaa5qmp6f.cloudfront.net/templates/footer/ls-bg.gif);
	background-position:center;
	height:7px;
}

.footer-yellow-bg {
	background-image:url(https://d2bghjaa5qmp6f.cloudfront.net/templates/footer/ls-bg-yellow.gif);
	background-position:center;
	height:65px;
}

.links-bk, .links-bk a {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

.links-bk1, .links-bk1 a {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration:none;
}

.gproxy-text, .gproxy-text a {
	font-family: "Tahoma";
	font-size: 9px;
	color: #000000;
	text-decoration:none;
}


/*----OVERWRITE MYACOUNT----*/

.header3ddiv { color:#000000 }
.smalltext {}
.smalltextrt {color:#000000 !important;}
