<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://checkout.netsuite.com/c.665798/site/files/ls-styles.css" rel="stylesheet" type="text/css">
<link href="https://checkout.netsuite.com/c.665798/site/files/ls-templates.css" rel="stylesheet" type="text/css">
<title>Lone Star Percussion</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="75"></td>
  </tr>
  <tr>
    <td align="center" class="tit-related">Thank you for contacting us</td>
  </tr>
  <tr>
    <td height="50"></td>
  </tr>
  <tr>
    <td  align="center"class="tit-related">Your request has been received. A member of our  team will answer you  as soon as possible.</td>
  </tr>
    <tr>
    <td height="15"></td>
  </tr>
  <tr>
    <td align="center" class="linksregister"><strong><a href="http://www.lonestarpercussion.com/Categories/" target="_top">Continue Shopping</a></strong></td>
  </tr>
</table>
</body>
</html>