.ItemCellImg {position:relative}
.testzindex {
right:24px;
position:absolute;
top:50px;
z-index:85;
display:none
}

div#fancy_overlay {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	background-color: #333;
	
}

div#fancy_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100;
}

div#fancy_loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_progress.png) no-repeat;
}

div#fancy_close {
	position: absolute;
	top: -12px;
	right: -12px;
	#top:0px;
	#right:-22px;
	height: 30px;
	width: 30px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_closebox.png) ;
	cursor: pointer;
	z-index: 100;
	display: none;
}

div#fancy_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0; 
	margin: 0;
	z-index: 96;
	border: 10px solid #fff;
	margin-left:-10px;
	margin-top:-10px;
	#margin-left:0px !important;
	#margin-top:0px !important;
	#height:420px !important;
	#width: 420px !important;

}

#fancy_frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}

img#fancy_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 400px;
	border:0; 
	padding: 0; 
	margin: 0;
	z-index: 92;
}

div#fancy_title {
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	z-index: 100;
	display: none;
}

div#fancy_title table {
	margin: 0 auto;
}

div#fancy_title div {
	color: #000;
	font: bold 11px Tahoma;
	padding-bottom: 2px;
	width:400px;
	text-indent:5px;
	text-align:left;
}

td#fancy_title_left {
	height: 32px;
	width: 15px;
	/*background: transparent url(fancy_title_left.png) repeat-x;*/
	display:none;
}

td#fancy_title_main {
	height: 32px;
/*	background: transparent url(fancy_title_main.png) repeat-x;*/
	vertical-align:middle !important;
	#padding-left:10px
}

td#fancy_title_right {
	height: 32px;
	width: 15px;
	/*background: transparent url(fancy_title_right.png) repeat-x;*/
	display:none;
}

div#fancy_outer {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 18px 18px 58px 18px;
    margin: 0;
    overflow: hidden;
    background: transparent;
    display: none;
	width: 400px !important;
	height:400px !important;
	#width: 436px !important;
	#height:476px !important;
}

div#fancy_inner {
	position: relative;
	width:100%;
	height:100%;
	/*border: 1px solid #444;*/
	background: #FFF;
}

a#fancy_left, a#fancy_right {
	position: absolute; 
	bottom: 10px; 
	height: 95%; 
	width: 35%; 
	cursor: pointer;
/*	background-image: url(data:image/gif;base64,AAAA);*/
	z-index: 105; 
}

a#fancy_left {
	left: 0px; 
}

a#fancy_right {
	right: 0px; 
}

a#fancy_left, a#fancy_left:hover {
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_left.gif) no-repeat 0% 10px;
}

a#fancy_right, a#fancy_right:hover {
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_right.gif) no-repeat 100% 10px;
}

#fancy_bigIframe, #fancy_freeIframe {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

div#fancy_bg {
	display: none;
}
	
div.fancy_bg {
	position: absolute;
	display: block;
	z-index: 70;
}

div.fancy_bg_n {
	top: -18px;
	width: 100%;
	height: 18px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_shadow_n.png) repeat-x;
	#left:0px;
}

div.fancy_bg_ne {
	top: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_shadow_ne.png) no-repeat;
}

div.fancy_bg_e {
	right: -13px;
	height: 100%;
	width: 13px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_shadow_e.png) repeat-y;
}

div.fancy_bg_se {
	bottom: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_shadow_se.png) no-repeat;
}

div.fancy_bg_s {
	bottom: -18px;
	width: 100%;
	height: 18px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_shadow_s.png) repeat-x;
	#left:0px;
}

div.fancy_bg_sw {
	bottom: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_shadow_sw.png) no-repeat;
}


div.fancy_bg_w {
	left: -13px;
	height: 100%;
	width: 13px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_shadow_w.png) repeat-y;
}

div.fancy_bg_nw {
	top: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(http://s3.lonestarpercussion.com/templates/qview/fancy_shadow_nw.png) no-repeat;
}

/* Box styles */
.quickviewFrame	{
		width:670px !important;
		z-index:1000;
		background:#000 url(http://s3.lonestarpercussion.com/templates/qview/qviewbg.png) no-repeat center center;
}
	.quickviewFrame .qimage	{
		width:230px;
		height:230px;
		overflow:hidden;
		border:1px solid #fff
		}
	.quickviewFrame .qimage img	{
	width:228px;
	margin:1px;		
	}
	.quickviewFrame .qname	{
		font-size:15px;
		margin:5px 5px 5px 0px;
		font-weight:bold;
		color:#F9D015;
		width:240px;
		}
	.quickviewFrame .qname	a{
		font-size:15px;
		font-weight:bold;
		color:#F9D015;
		text-decoration:none;
		float:left;
		margin:5px 5px 5px 0px;
	}
	.quickviewFrame .qname	a:hover{
		text-decoration: underline;
	}
	.quickviewFrame .qdescription	{
		font-size:11px !important;
		margin:5px 0px;
		overflow:auto;
		border-top:1px solid #F9D015;
		border-bottom:1px solid #F9D015;		
		padding:5px 0px 10px;
		float:left;
		width:390px;
		clear:both;
		height:160px
	}
	
	.quickviewFrame .qdescription strong {font-weight:bold}
	
	.quickviewFrame .quickviewClose	{
		position:absolute;
		right:0px;
		top:10px;
		font-size:12px;
		padding:4px 35px 5px 5px;
		cursor:pointer;
		font-weight:bold;
		color:#fff
	}
	
	.quickviewFrame .quickviewClose:hover	{
		text-decoration:underline;
		color:#F9D015	}
	.quickviewFrame .quickviewMove	{
		position:absolute;
		right:80px;
		top:12px;
		font-size:12px;
		padding:2px 5px 2px 20px;
		cursor:move;
		font-weight:bold;
		color:#fff
	}
	.quickviewFrame .quickviewMove:hover	{
		text-decoration:underline;
		color:#F9D015
	}
	
	.quick_header { position:absolute; height:25px; width:745px; background: url(http://s3.lonestarpercussion.com/templates/qview/qv_titlebar.gif) no-repeat left; top:5px; left:7px; font-weight:bold; color:#fff}
	

.quick_v {width:66px; height:21px;}
	
	.quick_v a { font-size:11px; display:block; width:66px; height:21px;}

.shadow {position: relative; width: 670px; height: auto; top:-5px; color:#fff; text-align:left; 
font-size:12px;}

.quick_left {
	float:left; 
	width:242px; 
	padding-left:20px; 
	_width:262px;
	padding-top:45px; 
	overflow:hidden; 
	text-align:center!important; 
}
.quick_left p.clear, .quick_left p.clear a {color:#d0d0d0!important; margin:0}
.quick_right {float:left; width:390px; padding-right:10px; padding-top:35px;}
.manu_img { width:82px; margin-right:7px; /*border:1px solid #CCCCCC;*/}
.manu_img img { width:82px !important;}
.quick_right h4.qname, .quick_right h4 a {margin:0px!important; color:#F9D015; display:inline}  
.quick_right p {margin:5px 0px 0px 0px!important; font-family:Tahoma; font-size:12px; color:#d0d0d0}
.quick_right .colors {font-size:12px; color:#000; clear:both; font-weight:bold}
.quick_right .vendor {font-size:12px; color:#000; clear:both}
.quick_right #it-addbottom { margin-bottom:10px; text-align:right; clear:both}
.quick_right #it-addbottom img {border:none}
.quick_right #it-add td.smalltext {width:133px; height:40px}
.quick_right #it-add #form46 td {vertical-align:middle}
.quick_right #it-add td.smalltext span {float:left;}
.quick_right #it-add td.smalltext input {float:right; width:40px}
.quick_right .btnAddToCart { background-image:url(http://s3.lonestarpercussion.com/templates/images/addtocart.png); display:block; width:110px; height:29px; background-repeat:no-repeat; color:#FFFFFF; cursor:pointer; border:none; margin-left:10px;}
.quick_right .btnAddToCart_hover { background-position: 0 -29px;  border:none;}
.quick_right .clickimage { border-top: #CCCCCC solid 1px; margin-top:10px; padding-top: 5px; padding-bottom:10px; margin-right:10px; font-size:11px; background: url(http://s3.lonestarpercussion.com/templates/images/ico-enlarge.gif) no-repeat 54px 7px;  }
.quick_right .itnumber {font-size:11px; clear:both}
.quick_right .itnumber strong {font-weight:bold}
.quick_right .price { color:#F9D015; font-size:15px; font-weight:bold; float:right; width:140px; margin:0px; text-align:right}

.quick_right .price span { color:#B72324;
font-size:16px;
font-weight:bold;}

.quick_right li{ padding-bottom:5px; font-size:12px;}

/* Overwrite */
#item-max {position:relative; width:120px}
