/*-----------------------------------------------
	Templates styles
----------------------------------------------- */

.yellow-boxborder {
	border-right:1px solid #ffcc00;
	border-left:1px solid #ffcc00;
}

.ywtitle-lineborder {
	border-top: solid 1px #807546;
	background-repeat:repeat;
}

.items-lineborder {
	border-left: solid 1px #37362f;
}

.items-lineborder1 {
	border-top: solid 1px #37362f;
	background-repeat:repeat;
}

.tit-related, .tit-related a {
	font-family: "Arial";
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
}

.text-related, .text-related a {
	font-family: "Arial";
	font-size: 11px;
	font-weight: normal;
	color: #ffcc00;
}

.price-related {
	font-family: "Arial";
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}

.ywtitle, .ywtitle a {
	font-family: "Arial";
	font-size: 18px;
	color: #ffcc00;
    text-transform:uppercase;
	text-decoration:none;
}

.text-descwte, .text-descwte a {
	font-family: "Arial";
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
}

.text-descgray, .text-descgray a {
	font-family: "Arial";
	font-size: 11px;
	font-weight: normal;
	color: #e3e3e3;
}

.text-item, .text-item a {
	font-family: "Arial";
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
}

.detail-item, .detail-item a {
	font-family: "Arial";
	font-size: 12px;
	line-height: 150%;
	font-weight: normal;
	color: #d0d0d0; 
}
.detail-item a:visited {
	color:#ffff99;
}
.title-item, .title-item a {
	font-family: "Arial";
	font-size: 16px;
	font-weight: normal;
	color: #ffd000;
	padding-left:15px;
}

.text-descyw, .text-descyw a {
	font-family: "Arial";
	font-size: 11px;
	font-weight: normal;
	color: #ffcc00;
}

.tit-descyw, .tit-descyw a {
	font-family: "Arial";
	font-size: 11px;
	font-weight: bold;
	color: #ffcc00;
	text-decoration:none;
}

.prodname-yw, .prodname-yw a {
	font-family: "Arial";
	font-size: 16px;
	font-weight: bold;
	color: #ffcc00;
	height:21px;
    text-transform:uppercase;
}

#category-max IMG {
	width:120px;
}


/*-----------------------------------------------
	Item List Styles
----------------------------------------------- */ 

.qty-multi {
	border:solid 1px #77783f;
	width:45px;
	height:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	font-weight:normal;
}

.no-border {
	border:none;
}

.item-desc, .item-desc a {
	font-family: "Arial";
	font-size: 11px;
	font-weight:normal;
	color: #ffcc00;
	text-decoration:none;
}

#item-max IMG {
	width:120px;
}
.quickviewShow img	{
	width:auto !important;
}
.title-item, .title-item a {
	font-family: "Arial";
	font-size: 16px;
	font-weight: normal;
	color: #ffd000;
	padding-left:15px;
}
.text-item, .text-item a {
	font-family: "Arial";
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
}
.title-table {
	font-family: "Arial";
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding-bottom:3px;
}
.code-itemtable, .code-itemtable a {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	padding-left:5px;
	padding-right:5px;
}
.desc-itemtable, .desc-itemtable a {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #ffd000;
	padding-left:5px;
	padding-right:5px;
}
.stock-itemtable, .stock-itemtable a {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #a9170c;
	padding-left:5px;
	padding-right:5px;
}
.price-itemtable, .price-itemtable a {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	padding-left:5px;
	padding-right:5px;
}

/*-----------------------------------------------
	Accounting Item Template Styles
----------------------------------------------- */ 

.no-display {
	display:none;
}

.div-zoom {
	width:425px;
	display:none;
}

.title-divzoom {
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
}

.close-divzoom a {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	font-weight:bold;
	font-size:18px;
}

#itemdrill-max IMG  {
	width:180px;
}

#zoom-max IMG {
	max-width:480px;
}

#zoomImage{
	max-width:480px;
	max-height:480px;
}

#divtellafriend a {text-indent:-9999px; display:block; height:23px; width:100px; background:url(/site/templates/ls-tellafriend.jpg); text-align:left;}



/*-----------------------------------------------
	Related Items List Template Style
----------------------------------------------- */ 

#relateditem-max IMG {
	max-width:120px;
}

.related-items-list-title {
	height:33px;
	background: #000000 url(https://system.netsuite.com/core/media/media.nl?id=14317&c=665798&h=4a61098d30cae3827610) no-repeat top left;
}

.correlated-items .related-items-list-title {
	height:33px;
	background: #000000 url(https://system.netsuite.com/core/media/media.nl?id=14318&c=665798&h=924d88772c21f6d3cb0d) no-repeat top left;
}
