.list-showWhenDownloadWaiting,
.list-showWhenDownloadSuccess,
.list-showWhenDownloadFailure,
.list-showWhenNoWishlistsFound,
.list-showWhenNoItemsFound{
    display: none;
}
.list-downloadWaiting .list-showWhenDownloadWaiting{
    display: block;
    background-color:yellow;
}
.list-downloadSuccess .list-showWhenDownloadSuccess{
    display:block;
    background-color:green;
}
.list-downloadFailure .list-showWhenDownloadFailure{
    display: block;
    background-color:red;
}
.list-noWishlistsFound .list-showWhenNoWishlistsFound,
.list-noItemsFound .list-showWhenNoItemsFound{
	display: block;
	background-color:purple;
}