.reviews-showWhenDownloadWaiting,
.reviews-showWhenDownloadSuccess,
.reviews-showWhenDownloadFailure{
    display: none;
}
.reviews-downloadWaiting .reviews-showWhenDownloadWaiting{
    display: block;
    background-color:yellow;
}
.reviews-downloadSuccess .reviews-showWhenDownloadSuccess{
    display:block;
    background-color:green;
}
.reviews-downloadFailure .reviews-showWhenDownloadFailure{
    display: block;
    background-color:red;
}
#reviews-inputForm .hide{
    display : none;   
}