.specifications-showWhenDownloadWaiting,
.specifications-showWhenDownloadSuccess,
.specifications-showWhenDownloadFailure{
    display: none;
}
.specifications-downloadWaiting .specifications-showWhenDownloadWaiting{
    display: block;
    background-color:yellow;
}
.specifications-downloadSuccess .specifications-showWhenDownloadSuccess{
    display:block;
    background-color:green;
}
.specifications-downloadFailure .specifications-showWhenDownloadFailure{
    display: block;
    background-color:red;
}
.specifications-table-internalid{
	 display:none;
}
.specifications-table tr:nth-child(even) {
   background-color: #ccc;
}