<html>
<head>
<title>Wimpy Wasp Player</title>
<script language="javascript" src="http://www.lonestarpercussion.com/site/audio/wasp.js"></script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="000000">
<tr>
<td align="center" valign="middle">
<!-- START WIMPY PLAYER CODE -->
<div id="waspTarget1004150700"><a href="http://www.adobe.com/products/flashplayer/">Flash Player upgrade required</a></div>
<script language="javascript">
// <![CDATA[
var waspConfigs1004150700 = new Object();
waspConfigs1004150700.instanceID="1004150700";
waspConfigs1004150700.waspSwf="http://www.lonestarpercussion.com/site/audio/wasp.swf";
waspConfigs1004150700.pageColor="000000";
waspConfigs1004150700.fp="http://www.lonestarpercussion.com/site/audio/KZ_RD_K1020_22_2.html";
waspConfigs1004150700.tf="2";
waspConfigs1004150700.f="__1aHR0cCUzQSUyRiUyRnd3dyUyRWxvbmVzdGFycGVyY3Vzc2lvbiUyRWNvbSUyRnNpdGUlMkZhdWRpbyUyRktaJTVGUkQlNUZLMTAyMCU1RjIyJTVGMiUyRW1wMw";
waspConfigs1004150700.a="1";
waspConfigs1004150700.me="0";
waspConfigs1004150700.s="0";
waspConfigs1004150700.ph="21";
waspConfigs1004150700.pw="250";
waspConfigs1004150700.waspSkin="sr_1|1|||ffd400^st_1|1|16||000000^sg_1|1^sb_1|4|20|F8F8F8||B8B8B8^sp_1|8|21|||787878^sv_1|5|22||000000^sw_1|1||ffffff|ffd400|ffd400^ss_1|1|||000000^sa_1|1|5^sz_1|1|5";
writeWasp(waspConfigs1004150700);
// ]]>
</script>
<!-- END WIMPY PLAYER CODE -->
</td>
</tr>
</table>
</body>
</html>
