<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wasp Code - http://www.lonestarpercussion.com/site/audio/KZ_RD_K1020_22_2.html</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="20"><tr><td align="left" valign="top" nowrap>
  
  
  
<!-- ======================
     URL 
======================= -->
<b>URL: </b><a href="http://www.lonestarpercussion.com/site/audio/KZ_RD_K1020_22_2.html">[ test ]</a><br>
<input name="textfield" type="text" value="http://www.lonestarpercussion.com/site/audio/KZ_RD_K1020_22_2.html" size="30">
  
  
  
<!-- ======================
     POP UP 
======================= -->
<p>&nbsp;</p>
<b>Pop Up: </b> <a href="javascript:;" onClick="window.open('http://www.lonestarpercussion.com/site/audio/KZ_RD_K1020_22_2.html','waspWin1004150700','width=250,height=21')">[ test ]</a> <br>
  
<!-- ======================
     POP UP SOURCE 
======================= -->
<textarea name="textarea" cols="20" rows="2" wrap="virtual"><a href="javascript:;" onClick="window.open('http://www.lonestarpercussion.com/site/audio/KZ_RD_K1020_22_2.html','waspWin1004150700','width=250,height=21')">[ test ]</a></textarea>
  
  
  
<!-- ======================
     EMBED 
======================= -->
<p>&nbsp;</p>
<b>Embed: </b>
<br>
<textarea name="textarea" cols="20" rows="2" wrap="virtual">
<!-- THIS LINE GOES IN THE <HEAD> OF YOUR HTML PAGE -->
<script language="javascript" src="http://www.lonestarpercussion.com/site/audio/wasp.js"></script>

 
<!-- START WIMPY PLAYER CODE -->
<div id="waspTarget1004150700"><a href="http://www.adobe.com/products/flashplayer/">Flash Player upgrade required</a></div>
<script language="javascript">
// <![CDATA[
var waspConfigs1004150700 = new Object();
waspConfigs1004150700.instanceID="1004150700";
waspConfigs1004150700.waspSwf="http://www.lonestarpercussion.com/site/audio/wasp.swf";
waspConfigs1004150700.pageColor="000000";
waspConfigs1004150700.fp="http://www.lonestarpercussion.com/site/audio/KZ_RD_K1020_22_2.html";
waspConfigs1004150700.tf="2";
waspConfigs1004150700.f="__1aHR0cCUzQSUyRiUyRnd3dyUyRWxvbmVzdGFycGVyY3Vzc2lvbiUyRWNvbSUyRnNpdGUlMkZhdWRpbyUyRktaJTVGUkQlNUZLMTAyMCU1RjIyJTVGMiUyRW1wMw";
waspConfigs1004150700.a="1";
waspConfigs1004150700.me="0";
waspConfigs1004150700.s="0";
waspConfigs1004150700.ph="21";
waspConfigs1004150700.pw="250";
waspConfigs1004150700.waspSkin="sr_1|1|||ffd400^st_1|1|16||000000^sg_1|1^sb_1|4|20|F8F8F8||B8B8B8^sp_1|8|21|||787878^sv_1|5|22||000000^sw_1|1||ffffff|ffd400|ffd400^ss_1|1|||000000^sa_1|1|5^sz_1|1|5";
writeWasp(waspConfigs1004150700);
// ]]>
</script>
<!-- END WIMPY PLAYER CODE -->
</textarea>
</td>
<td align="left" valign="top">
  
  
<!-- ======================
     EMBED SOURCE 
======================= -->
<!-- THIS LINE GOES IN THE <HEAD> OF YOUR HTML PAGE -->
<script language="javascript" src="http://www.lonestarpercussion.com/site/audio/wasp.js"></script>

 
<!-- START WIMPY PLAYER CODE -->
<div id="waspTarget1004150700"><a href="http://www.adobe.com/products/flashplayer/">Flash Player upgrade required</a></div>
<script language="javascript">
// <![CDATA[
var waspConfigs1004150700 = new Object();
waspConfigs1004150700.instanceID="1004150700";
waspConfigs1004150700.waspSwf="http://www.lonestarpercussion.com/site/audio/wasp.swf";
waspConfigs1004150700.pageColor="000000";
waspConfigs1004150700.fp="http://www.lonestarpercussion.com/site/audio/KZ_RD_K1020_22_2.html";
waspConfigs1004150700.tf="2";
waspConfigs1004150700.f="__1aHR0cCUzQSUyRiUyRnd3dyUyRWxvbmVzdGFycGVyY3Vzc2lvbiUyRWNvbSUyRnNpdGUlMkZhdWRpbyUyRktaJTVGUkQlNUZLMTAyMCU1RjIyJTVGMiUyRW1wMw";
waspConfigs1004150700.a="1";
waspConfigs1004150700.me="0";
waspConfigs1004150700.s="0";
waspConfigs1004150700.ph="21";
waspConfigs1004150700.pw="250";
waspConfigs1004150700.waspSkin="sr_1|1|||ffd400^st_1|1|16||000000^sg_1|1^sb_1|4|20|F8F8F8||B8B8B8^sp_1|8|21|||787878^sv_1|5|22||000000^sw_1|1||ffffff|ffd400|ffd400^ss_1|1|||000000^sa_1|1|5^sz_1|1|5";
writeWasp(waspConfigs1004150700);
// ]]>
</script>
<!-- END WIMPY PLAYER CODE -->
  
  
</td></tr></table>
<p>&nbsp;</p>



<div id="JScalls" style="position:relative;display: block;width:90%;height:322px;z-index:1;left: 0px;top: 0px;overflow: auto;">
<b>Javascript controls for this player: </b><br>
<br>
<a href="javascript:;" onClick="wasp_load('1004150700', '__1aHR0cCUzQSUyRiUyRnd3dyUyRWxvbmVzdGFycGVyY3Vzc2lvbiUyRWNvbSUyRnNpdGUlMkZhdWRpbyUyRktaJTVGUkQlNUZLMTAyMCU1RjIyJTVGMiUyRW1wMw', '', 'false')">Load Video </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_load('1004150700', '__1aHR0cCUzQSUyRiUyRnd3dyUyRWxvbmVzdGFycGVyY3Vzc2lvbiUyRWNvbSUyRnNpdGUlMkZhdWRpbyUyRktaJTVGUkQlNUZLMTAyMCU1RjIyJTVGMiUyRW1wMw', '', 'false')">Load Video </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_load('1004150700', '__1aHR0cCUzQSUyRiUyRnd3dyUyRWxvbmVzdGFycGVyY3Vzc2lvbiUyRWNvbSUyRnNpdGUlMkZhdWRpbyUyRktaJTVGUkQlNUZLMTAyMCU1RjIyJTVGMiUyRW1wMw', '', 'true')">Load and Play Video </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_load('1004150700', '__1aHR0cCUzQSUyRiUyRnd3dyUyRWxvbmVzdGFycGVyY3Vzc2lvbiUyRWNvbSUyRnNpdGUlMkZhdWRpbyUyRktaJTVGUkQlNUZLMTAyMCU1RjIyJTVGMiUyRW1wMw', '', 'true')">Load and Play Video </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_pause('1004150700')">Pause </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_pause('1004150700')">Pause </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_play('1004150700')">Play </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_play('1004150700')">Play </a>
</textarea>
<br>
<br>

<a href="javascript:;" onClick="wasp_stop('1004150700')">Stop </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_stop('1004150700')">Stop </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_share('1004150700')"> Share </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_share('1004150700')"> Share </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_fullscreen('1004150700')"> Pop Out </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_fullscreen('1004150700')"> Pop Out </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="alert(wasp_amReady_ask('1004150700'))"> Ask if Ready </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="alert(wasp_amReady_ask('1004150700'))"> Ask if Ready </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_setVolume('1004150700', 50)"> Set Volume to 50 Percent </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_setVolume('1004150700', 50)"> Set Volume to 50 Percent </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_setLoopTrackState('1004150700', 'on')"> Set Loop Track state to <b>"on"</b> </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_setLoopTrackState('1004150700', 'on')"> Set Loop Track state to <b>"on"</b> </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_setLoopTrackState('1004150700', 'off')"> Set Loop Track state to <b>"off"</b> </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_setLoopTrackState('1004150700', 'off')"> Set Loop Track state to <b>"off"</b> </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_setMuteState('1004150700', 'on')"> Set Mute State to <b>"on"</b> (mute) </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_setMuteState('1004150700', 'on')"> Set Mute State to <b>"on"</b> (mute) </a>
</textarea>
<br>


<br>
<a href="javascript:;" onClick="wasp_setMuteState('1004150700', 'off')"> Set Mute State to <b>"off"</b> (un-mute) </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_setMuteState('1004150700', 'off')"> Set Mute State to <b>"off"</b> (un-mute) </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="alert(wasp_getPlayheadPercent('1004150700'))"> Get Playhead Percent </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="alert(wasp_getPlayheadPercent('1004150700'))"> Get Playhead Percent </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="alert(wasp_getPlayheadSeconds('1004150700'))"> Get Playhead Seconds </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="alert(wasp_getPlayheadSeconds('1004150700'))"> Get Playhead Seconds </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_setPlayheadPercent('1004150700', '50')"> Set Playhead Percent (50 percent) </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_setPlayheadPercent('1004150700', '50')"> Set Playhead Percent (50 percent) </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_setPlayheadSeconds('1004150700', '10')"> Set Playhead Seconds (10 seconds)</a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_setPlayheadSeconds('1004150700', '10')"> Set Playhead Seconds (10 seconds)</a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="alert(wasp_getLoadPercent('1004150700'))"> Get Load Percent </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="alert(wasp_getLoadPercent('1004150700'))"> Get Load Percent </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="alertObject(wasp_getLoadState('1004150700'))"> Get Load State </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="alertObject(wasp_getLoadState('1004150700'))"> Get Load State </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="alertObject(wasp_getPlayerState('1004150700'))"> Get Player State </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="alertObject(wasp_getPlayerState('1004150700'))"> Get Player State </a>
</textarea>
<br>
<br>


<a href="javascript:;" onClick="wasp_memory_clear('1004150700')"> Clear Memory (if set) </a><br>
<textarea cols="80" rows="3">
<a href="javascript:;" onClick="wasp_memory_clear('1004150700')"> Clear Memory (if set) </a>
</textarea>
<br>
<br>
</div>


</body>
</html>
