packages:
  yum:
    newrelic-php5: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
  configure_new_relic:
    command: newrelic-install install
    env: 
      NR_INSTALL_SILENT: true
      NR_INSTALL_KEY: f06d6dbc2933f61b4483decb5ea4214ea42c48a5
 
