packages:
  yum:
    nfs-utils: []
    rpcbind: []
services:
  sysvinit:
    rpcbind:
      enabled: true
      ensureRunning: true
    nfslock:
      enabled: true
      ensureRunning: true
commands:
  0_make-directory:
    command: |
      if [ ! -f $EB_CONFIG_APP_CURRENT/static ]; then
        mkdir -p $EB_CONFIG_APP_CURRENT/static
      fi
  1_mount-nfs-drive:
    command: mount -t nfs nfs.lonestarpercussion.com:/shared/static $EB_CONFIG_APP_CURRENT/static
  2_add-nfs-to-startup:
    command: echo 'nfs.lonestarpercussion.com:/shared/static $EB_CONFIG_APP_CURRENT/static nfs rsize=8192,wsize=8192,timeo=14,intr 0 0' >> /etc/fstab