packages:
  yum:
    nfs-utils: []
    rpcbind: []
services:
  sysvinit:
    rpcbind:
      enabled: true
      ensureRunning: true
    nfslock:
      enabled: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/02_mount-drives.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      if [ ! -f $EB_CONFIG_APP_CURRENT/cache ]; then
        mkdir -p $EB_CONFIG_APP_CURRENT/cache
        mkdir -p $EB_CONFIG_APP_CURRENT/cache/thumbnails
        mkdir -p $EB_CONFIG_APP_CURRENT/cache/thumbnails/images
        chown webapp -R $EB_CONFIG_APP_CURRENT/cache
        chgrp webapp -R $EB_CONFIG_APP_CURRENT/cache
      fi
      if [ ! -f /static ]; then
        mkdir -p /static
      fi

      grep -qs '/static ' /proc/mounts || mount -t nfs nfs.lonestarpercussion.com:/shared/static/static-source /static