packages:
  yum:
    nfs-utils: []
    rpcbind: []
services:
  sysvinit:
    rpcbind:
      enabled: true
      ensureRunning: true
    nfslock:
      enabled: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/02_mount-drives.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      if [ ! -f $EB_CONFIG_APP_CURRENT/static ]; then
        mkdir -p $EB_CONFIG_APP_CURRENT/static
      fi
      mount -t nfs nfs.lonestarpercussion.com:/shared/static $EB_CONFIG_APP_CURRENT/static
  "/opt/elasticbeanstalk/hooks/restartappserver/01_mount-drives.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      mount -t nfs nfs.lonestarpercussion.com:/shared/static $EB_CONFIG_APP_CURRENT/static