packages:
  yum:
    python-devel: []
    libattr-devel: []
    fuse-devel: []
    python-paramiko: []
    xz-devel: []
    python-argparse: []
sources:
  /home/ec2-user/python3: http://www.python.org/ftp/python/3.2.2/Python-3.2.2.tar.bz2
  /home/ec2-user/pycryptopp: http://pypi.python.org/packages/source/p/pycryptopp/pycryptopp-0.6.0.1206569328141510525648634803928199668821045408958.tar.gz
  /home/ec2-user/apsw: https://apsw.googlecode.com/files/apsw-3.7.17-r1.zip
  /home/ec2-user/llfuse: https://python-llfuse.googlecode.com/files/llfuse-0.39.tar.bz2
  /home/ec2-user/s3ql: https://s3ql.googlecode.com/files/s3ql-2.3.tar.bz2
commands:
  0_install_python:
    command: ./configure --prefix=/opt/python3; make; make install
    cwd: /home/ec2-user/python3/Python-3.2.2
  1_install_pycryptopp :    
    command: python setup.py build install
    cwd: /home/ec2-user/pycryptopp/pycryptopp-0.6.0.1206569328141510525648634803928199668821045408958
  2_install_apsw:
    command: python setup.py fetch --sqlite install
    cwd: /home/ec2-user/apsw/apsw-3.7.17-r1
  3_install_llfuse:
    command: python setup.py install
    cwd: /home/ec2-user/llfuse/llfuse-0.39
  4_install_s3ql:
    command: python setup.py install
    cwd: /home/ec2-user/s3ql/s3ql-2.3