@import "utilities/settings";
@import "utilities/functions";
@import "utilities/reset";

@import "components/zoom";
@import "components/global";
@import "components/ads";
@import "components/form";
@import "components/icons";
@import "components/images";
@import "components/contact";
@import "components/header";
@import "components/flyout.scss";
@import "components/footer";
@import "components/byline";
@import "components/limitElements";
@import "components/table";
@import "components/reviews"; // Moved from below pages
@import "components/steps"; // Moved from below pages

//@import "pages/cart";
@import "pages/product";
@import "pages/search";
@import "pages/category";
@import "pages/wishlist";
@import "pages/home";
@import "pages/about";
@import "pages/content";

@import "ns-checkout";