@import "utilities/settings";
@import "utilities/functions";
@import "utilities/reset";

@import "components/zoom";
@import "components/ads";
@import "components/byline";
@import "components/limitElements";
@import "components/table";
@import "components/reviews";
@import "components/steps";

@import "pages/cart";
//@import "pages/checkout";
@import "pages/product";
@import "pages/search";
@import "pages/category";
@import "pages/wishlist";
@import "pages/home";
@import "pages/about";
@import "pages/content";
@import "pages/school-category";