
/* Global Variables */
            $borderRadius : 4px;
                   $black : #211710;
                    $grey : #847e77;
                   $white : #ffffff;
               $lightGrey : #cfcfcf;
          $superLightGrey : #f5f4f0;
                  $yellow : #f3c600;
             $paddingUnit : 5px;
            $inputPadding : 7px;
               $pageWidth : 940px;
             $columnWidth : 60px;
             $gutterWidth : 20px;
            $hideDistance : 10000px;

/* Checkout Process */
             $summaryWidth : 5 * $columnWidth + 4 * $gutterWidth;
             $processWidth : $pageWidth - $summaryWidth;
        $spaceBetweenSteps : 200px;
            $numberOfSteps : 4;
      $smallCircleDiameter : 16px;
     $mediumCircleDiameter : $smallCircleDiameter * 2;
      $largeCircleDiameter : $mediumCircleDiameter * 1.2;

/* Button Colors */
             $lightYellow : #f5d100;
              $darkYellow : #F1bc00;
         $buttonLightGrey : #e7e4d8;
          $buttonDarkGrey : #dbd8c6;
                $darkGrey : #847e77;
           $superDarkGrey : #4c4843
                  $yellow : #f3c600;
             $brownYellow : #99863B;
         $highlightYellow : #fdf8a6;
           $highlightGrey : white;
$saturatedHighlightYellow : #ffff00;
  $saturatedHighlightGrey : white;
        $hoverLightYellow : #f9e15e;
                    $grey : #847e77;
               $lightGrey : #cfcfcf;
                   $black : #211710;
    $lightGreyGradientTop : #f1f0ea;
 $lightGreyGradientBottom : #ece9e1;
             $taintedGrey : #9f9b86;
                   $brown : #453c34;
         $hoverLightBrown : #746456;
               $darkBrown : #433931;
         $darkBrownBorder : #463f38;
               
/* Form */
        $emailInputLength : 270px;
           $inputFontSize : 14px;
      $largeInputFontSize : 16px;
              $b1FontSize : 14px;
           
/* Headers */
   $boldAllCapsH4 : 14px;
      $h2FontSize : 28px;