@import "../utilities/settings";
@import "../utilities/functions";

/* Badges */
.badges-hasBadge{
	position:relative;
	display:inline-block;
	zoom:1;
	*display:inline; /* IE7 inline-block Fix */
	/* Generic badge styling */
	
	.badges-badge{ 
		position: absolute;
		top: 5px;
		left: 5px;
		padding: px(1px) px(5px) px(0);
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		font-size: 11px;
		@include border-radius(px($borderRadius));
		z-index: 190;
		background-color: $grey;
	}
	
	&.badges-text{
		padding-top: 3px;
		.badges-badge{
			display: inline-block;
			background-color: transparent;
			color: $yellow;
			position:relative;
			top: -7px;
			padding-left:2px;
		}	
	}
	
	&.badges-text:first-child .badges-badge{
		top: 0;
		left: 0;
	}

	/* Individual Badges */
	.badge-new{ background-color: red; }
	.badge-discontinued{ background-color: $grey; }
	.badge-clearance{ background-color: $yellow; }
	.badge-demo{ background-color: blue; }
	.badge-staff{ background-color: $yellow; }
	.badge-staff{ background-color: $yellow; }
	.badge-sale{ background-color: red; }

	&.badges-text .badge-new{ color: red; }
	/*
	&.badge-smallImage{
		padding-top:10px;
		
		.badges-badge{
			position:absolute;
			top: 0;
			left: 0;
		}
	}*/
}
