<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Shipping Schedule</title>
</head>

<body>

<img src="/site/images-site/shippingschedule01.jpg" border="0" usemap="#Map" width="330" height="294" />
<map name="Map" id="Map">
  <area shape="rect" coords="124,231,278,263" href="/Lone-Star-Gift-Card" target="_blank" />
</map>
</body>
</html>
