@import "../pages/product";
@import "../components/panel";
@import "../components/limitElements";
@import "../components/badges";
@import "../components/addToCart";
@import "../components/aggregateReviews";

@import "../components/reviews";