div#innerwrapper {
	margin: 0 auto;
	text-align:left;
}
#sc_tar a	{
	display:none;
	font-size:12px;
	color:#d0d0d0;
	text-decoration:none;
	line-height:20px;
}
#sc_tar a.leftLink2, #sc_tar a.leftLink3, #sc_tar a.leftLink4, #sc_tar a.leftLink5, #sc_tar a.leftLink6	{
	display:block;
}
#sc_tar a.leftLink3	{
	padding-left:10px;
}
#sc_tar a.leftLink4	{
	padding-left:20px;
}
#sc_tar a.leftLink5	{
	padding-left:30px;
}
#sc_tar a.leftLink6	{
	padding-left:40px;
}
.sc-livechat {
    display: block;
    float: left;
    margin-top: 8px;
}
.lpPoweredBy {
    display: none;
}
.lpEmtStarRating {
    display: none;
}
/* Start Code by AD */
.clear	{
	clear: both;
}
#header	{
	position: relative;
}
#logo	{
	left: 48px;
	position: absolute;
	top: 6px;
}
#logo img	{
	border: none;
}
#header p	{
	margin: 0;
}
.header-top	{
	background: #ffd000 url(/site/sc/images/bg-header-top.gif) repeat-x;
	padding-top: 5px;
}
.header-right	{
	float: right;
	padding-right: 30px;
}
.header-right ul	{
	margin: 0;
	padding: 0;
}
.header-right li	{
	float: left;
	list-style: none;
	margin-right: 5px;
}
.header-right li.last	{
	margin-right: 0;
}
.header-right a	{
	font-size: 12px;
	color: #333;
	text-decoration: underline;
}
.header-right a:hover	{
	text-decoration: none;
}
.header-right p span	{
	font-weight: bold;
}
.header-main	{
	padding-left: 225px;
}
.header-main .contact	{
	float: left;
}
.header-main p	{
	color: #000;
	font-size: 15px;
	font-family: Tahoma;
	font-weight: bold;
	text-transform: uppercase;
}
.header-main .number	{
	border-bottom: #000 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}
.navigation	{
	clear: both;
	margin: 0;
	padding: 0;
}
.navigation li	{
	float: left;
	list-style: none;
	margin-right: 30px;
}
.navigation a	{
	color: #000;
	font-size: 16px;
	font-family: Tahoma;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
/* End Code by AD */