/* Shopping Cart */
.page-cart{
    .head{ 
       
        /* Contains the contact us link, Proceed To Checkout button, and main title */
       
        min-height: px(120px);
        //float: left;
        position: relative;
		float: left;
		width: 100%;
        
        h1{ 
            //display: inline-block;
            float: left;
            //clear: both;
        }
        .b1{
			margin-bottom: 10px;
            position: absolute;
            bottom: 0;
            right: 0;
			margin-top: 10px;
        }
        .ad-contact{ 
            
            text-align: right;
            color: $grey;
            float: right;
            margin-top:10px;
			margin-bottom: 10px;
            .contact{ 
                display:block; 
            }
        }
    }
    
    .warning{
		
		float: left;
		clear: both;
		margin: 10px 0;
		
		.panel{
	        // The warning is a speech bubble that tells the user something about their cart.
			// this is likely to be the explanation
	        // about backordered items

	        margin: 0;
	        background-color: $superLightGrey;
			
	        border: 1px solid $lightGrey;
	        padding: px(5px) px(20px) px(5px) px(10px);
	        @include border-radius(px($borderRadius));
	        float: left;
	        clear: both;
	        position: relative;



	        .details{}
	        .message{ 
	            font-size: px(20px);
	            font-weight: 600;
	            @include panel-arrow(9px, 'left', $superLightGrey);
				@media (max-width: 979px) and (min-width: 768px){
					max-width: 380px;
				}
	        }
	    }	
    }
	
    .b1{ /* Proceed to Checkout */
        float: right;
        clear: right;
        margin: 0;
        //width: px(230px);
    }
    
    table.cart{
        margin: px(15px) 0 0;
        clear: both;
        width: 100%;
		float: left;
		border-otp
	}
    
    thead{
        
		text-align: center;
		
		.summary{ display: none; }
		.headers{
			
			font-size: 13px;
			
			td{ 
                padding: px(10px) 0;
                border: 1px solid $lightGrey;
                border-right: 0;
                text-align: center;
            }
            td.product{ 
                border-left: 0;
                text-align: left;
            }	
		}
        .product{ 
            text-align: left;
        }
        
    }
	thead, tfoot{
        .unitPrice, .quantity, .extendedPrice, .subtotal{ 
            width: px(140px);
			
			@media (max-width: 979px) and (min-width: 768px){
				width: 99px;
			}
				
        }
	}
    tbody{
        td, tr{ 
            padding: px(20px) 0;
            border-bottom: 1px solid $lightGrey;
        }
		td{
			position: relative;
		}
        .productName,
		.details{
			padding-right: 5px;
		}
        .productImage{
            float: left;
			margin-right:10px;
			position: absolute;
            img{ 
                max-width: px(64px);
                max-height: px(64px);
            }
        }
		.properties, .quantity{
			margin-left: 74px;
		}
        .properties{
            //padding-left: px(10px);
			overflow: hidden;
            .productName{
                margin-top: px(-5px);
                font-size: px(15px);
                font-weight: 600;
            }
            
            .productOptions{
                color: $grey;
                display: block;
            }
            .productAvailability, .details, .notice{
				//white-space: nowrap;
                margin-top: px(8px); /* Distance between detail groups */
            }
			.details{
				margin-top:0;
			}
			.notice{
				position:relative;
				top: -2px;
			}
        }
        
        .unitPrice{
            font-size: px(15px);
            text-align: center;
            vertical-align: top;
            .productPrice{ }
        }
        .quantity{
            text-align: center;
            vertical-align: top;
			label{
				display: none;
				float: left;
				margin-top: 8px;
				padding-right: 5px;
				font-size: 13px;
				font-weight: normal;
			}
            .scroller{ 
                display: block;
                margin: auto;
				margin-top:-10px;
            }
            button[data-action='remove']{
                margin: auto;
				font-size: 13px;
				margin-top:10px;
				padding-left:0;
				&:after{
					display: none;
				}
            }
        }
        .extendedPrice{
            vertical-align: top;
            text-align: right;
			padding-right: 10px;
			
			
            .productExtendedPrice{
                font-size: px(24px);
                font-weight: 600;
				@media (max-width: 979px) and (min-width: 768px){
					font-size: px(21px);
				}
				
            }
        }
    }
    tfoot,
	thead .summary{
        td { 
            text-align: right;
			padding-right: 5px;
            vertical-align: center;
			height: 40px;
        }
        
        //label span { display: block; }
        input, select, label{ display:inline-block; float:right; margin-left: 10px;}
        .value{ 
			font-weight: 600;
			padding-right:10px;
		}
        
		
		
		.zipcode{ width: 100px; }
		.shipCountry{ width: 130px; }
		.shipMethod{ width: 162px; }
		
        .shippingTotal{
            label{ margin-right: px(5px); margin-top: -3px;}
        }
        .orderTotal{
			label{
				margin-top:-1px;
			}
            td{ 
                border-top: 1px solid $lightGrey;
                padding: px(15px) 0;
				font-size: 16px;
            }
            .value{  
                font-size: px(24px);
                font-weight: bold;
				padding-left: 10px;
				@media (max-width: 979px) and (min-width: 768px){
					font-size: 21px;
				}
            }
        }
    }
	
	
	@media (max-width: 767px){
		//.properties{
		//	outline: 1px solid red;
			//@include box-sizing();
			//width: 100%;
		//	.details{
		//		width: 100%;
		//		outline: 1px solid red;
		//	}	
		//} 
		//.productName{
		//	width: 100%;
		//	outline: 1px solid red;
		//}
		.unitPrice,
		.unitPrice,
		.shippingTotal,
		.taxTotal,
		.orderTotal{
			display: none;
		}
		tfoot tr{
			border-bottom: 0;
			@include box-sizing();
		}
		.merchandiseTotal, thead .summary.merchandiseTotal{
			.value{
				font-size: px(24px);
	            font-weight: bold;
			}
		}
		
		.head .b1{
			position: relative;
			margin-top:20px;
		}
		table.cart{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.warning{
			margin-top: 10px;
			margin-bottom: 0;
		}
	}
	
	@media (max-width: 600px){
		
		tbody .quantity label{
			display: inline-block;
		}
		

		thead .summary{
			display: table-row;
		}
		
		
		.headers{
			display:none;
		}

		.summary td{
			border-bottom:1px solid $lightGrey;
		}
		table, tbody, tfoot, thead, tr, tbody td{
			display: inline;
			position: static;
			//float: left !important; // reset removes the float with !important
		}
		thead, tfoot{
			text-align:right;
		}
		thead, tbody, tfoot, tr{
			clear: both;
			width: 100%;
			display: block;
			position: relative;
		}
		thead .summary td,
		tbody td{
			border-top: 0;
			border-bottom: 0;
			height: auto;
			margin-top: 5px;
		}
		thead .summary,
		tfoot td{
			display: inline;
		}
		
		
		tfoot .subtotal{
			display: inline-block;
			margin-top: -5px; // Not sure where this is coming from
			width: auto;
		}
		tbody tr{
			position: relative;
			border-bottom: 1px solid $lightGrey;
			padding-bottom: 58px; // space for the productAvailability
			margin: 0 0 0px;
		}
		
		table.cart{
			//float: left;
			//margin:15px 0;

			border-top:1px solid $lightGrey;
		}
		tbody .productName{
			padding-right: 55px; // space for remove
		}

		.productAvailability{
			position: absolute;
			bottom: 20px;
		}
		
		tbody .quantity button[data-action='remove']{
			position: absolute;
			top: 10px;
			right: 15px;
			text-indent: -$hideDistance;
			overflow: hidden;
			width: 28px;
			height: 28px;
			&:after{
				text-indent: 0;
				display: inherit;
			}
		}
		tbody .quantity{
			padding: 0;
			margin-right: 10px;
			display: inline-block;
			margin-top: 10px;
			.scroller{
				float: left;
				margin-top:-1px;
			}
		}
		tbody .extendedPrice .productExtendedPrice{
			font-size: 18px;
			font-weight: bold;
			position:relative;
			top: 18px;
		}
		.notice{ display: none;}
		
		
		thead .summary label,
		tfoot label{
			
			position: relative;
			//top: -3px;
			float: none;
			font-weight: normal;
		}
		thead tr, tfoot tr{
			@include box-sizing();
			//height: 52px;
			line-height: 50px;
			padding:0;
			padding-right: 5px;
			margin-top:0;
			background-color: $superLightGrey;
			border: 1px solid $lightGrey;
			border-width: 1px 0;
		}
		tfoot tr{
			border-top: 0;
		}
		thead .value,
		tfoot .value{
			line-height:42px;
		}
		//thead td, tfoot td{
		//	width: 75%;
		//}
		//.subtotal{
		//	width: 25%;
		//}
	
	}
	
	@media (max-width: 400px){
		.productAvailability{
			.details{
				display: none;
			}
		}
	}
	
}
