.page-category{
	
	.section{
		margin-bottom: 20px;
	}
	

	ul.grid{
		
		width: 100%;
		float: left;
		
		li a{
			width: 25%;
			float: left;
			padding: 5px 10px 20px;
			margin-bottom: 10px;
			text-align: center;
			display: block;
			text-decoration: none;
			
			
			
			@include box-sizing();
	
			@media (min-width: 1200px){
				//width:16.6%; // 6 across
			}
			@media (max-width: 979px) and (min-width: 768px){
				width: 33.33%; // 5 across
			}
			@media (max-width: 767px){
		
			}
			.title{
				display: block;
				width: 100%;
				text-align: center;
				//font-weight: bold;
				//color: $grey;
			}
			&:hover{
				.title{
					color: black;
					font-weight: bold;
				}
			}
		}
	}

	.categories .section,
	.brands .section{
		position: relative;
		top: 8px;
		padding-left: 10px;
	}

	.categories{
		a{
			height: 200px;
		}	
	} 
	.brands{
		
		a{
			height: 100px;
		}	
	} 
	.prices ul.grid{
		
		//$width  : 150px;
		
		position: relative;
		
		li{
			//float: left;
			a {
				padding: 12px 20px;
				width: 19%;
				margin: 15px 3% 30px;
				color: black;
				border: 1px solid $lightGrey;
				font-weight: bold;
				font-size: 19px;
				
				@media (min-width: 1200px){
					
				}
				@media (max-width: 979px) and (min-width: 768px){
					font-size: 15px; // 5 across
					width: 22%;
					margin-right: 1%;
					margin-left: 1%;
				}
				@media (max-width: 767px){
		
				}
				
				&:hover{
					color: white;
					background-color: black;
					border-color: black;
				}
			}
		} 	
	} 
}