.page-category{

	h2{
		margin-bottom: 20px;
	}
	
	.body .section{
		margin-bottom: 20px;
		float: left;
		width: 100%;
		margin-bottom: 40px;
	}

	.refinements{
		.panel{
			padding-top: 13px;
		}
	}

	.head{
		position: relative;
		background-color: $superLightGrey;
		border: 1px solid $lightGrey;
		border-width: 1px 0;
		padding: 20px 300px 20px 20px;
		margin: 20px 0 30px 0;

		@include box-sizing();

		.representativeImage{
			position: absolute;
			top: 50%;
			margin-top: -140px;
			right: 0;
		}

		.action{
			position: absolute;
			bottom: 20px;
			right: 290px;
		}

		.links{
			float: left;
			margin: 0 0 0px 20px;
		}

		.content{
			margin-bottom: 10px;
		}

		@media (max-width: 979px){
			padding-right: 10px;
			.representativeImage{
				position:relative;
				float: right;
				top: -10px;
				margin-top: 0;
				width: 140px;
				height: 140px;
				//margin-left:-10px;

			}
			.action{
				//right: 10px;
				position: static;
				float: right;
				margin-top: 5px;
			}
		}
	}

	.body .categories{
		
		margin-bottom: 0px;

		.category{
			
			height: 205px;
			border-bottom: 0;

			&:after{
				height: 145px;
				top: 0px;
				right: -1px; // This allows us to hide it on hover
			}

			.title{
				overflow: visible;
				padding-top: 130px;
				padding-bottom: 20px;
				border: 1px solid transparent;
			}

			h3{
				margin-top: 0px;
			}

			&:hover{
				&:after{
					border-color: transparent;
				}
				.title{
					//background-color: #efeeea;
					border: 1px solid $lightGrey;
					background-color: $superLightGrey;
					@include box-shadow-multiple(0 0 px(3px) 0 $lightGrey);
				}
				h3{
					background-color: white;
				}
			} 

			a, a:hover{ text-decoration: none; }

			img{
				top: 5px;
				z-index: 1;
			}

			@media (min-width: 1200px){
				//width:16.6%; // 6 across
			}
			@media (max-width: 979px) and (min-width: 516px){
				width: 33.33%; // 5 across 
				h3{ 
					margin-right: 10px;
					margin-left: 10px;
				}
				.title{ 
					padding-bottom: 10px;
				}

				// This hides the right border from the 3rd, 6th and 9th element
				// with nth-of-type this wouldnt' be nessesary, but the + selector
				// is IE8 safe
				&:first-child + .category + .category:after,
				
				&:first-child + .category + .category 
					+ .category + .category + .category:after,
				
				&:first-child + .category + .category 
					+ .category + .category + .category
					+ .category + .category + .category:after,

				&:first-child + .category + .category 
					+ .category + .category + .category
					+ .category + .category + .category
					+ .category + .category + .category:after,

				&:first-child + .category + .category 
					+ .category + .category + .category
					+ .category + .category + .category
					+ .category + .category + .category
					+ .category + .category + .category:after,

				&:first-child + .category + .category 
					+ .category + .category + .category
					+ .category + .category + .category
					+ .category + .category + .category
					+ .category + .category + .category
					+ .category + .category + .category:after{
					border-right-width: 0 !important;
				}

				// Because the nth-of-type fix above is so specific, it's easier to just
				// use !important than having another extremely long selector
				&:first-child ~ .category:after{ border-right-width: 1px !important; };

			}
			
			@media (max-width: 767px){
				
			}

		}

		@media (max-width: 767px){
			margin-bottom: 40px;
			.category{
				float: none;
				width: 100%;
				margin: 0;
				height: auto;
				padding: 0;
				border: 1px solid $lightGrey;
				border-width: 0 0 1px;

				&:after{
					border: 0 !important;
				}

				&:hover{
					.title{ 
						background-color: $superLightGrey;
						border: 0;
						@include box-shadow-multiple(none);
					 }
					 h3{
					 	background-color: transparent;
					 }
				};

				.title{ 
					padding: 0;
					border: 0;
				}
				h3{ 
					background-color: transparent;
					padding: 20px 50px 20px 0;
					text-align: left;
					border: 0;
					margin: 0 0 0 10px;
				}
				img{ display: none; }

				&:first-child{
					border-top-width: 1px;
				}


			}
		}

	} 
	.brands{
		.brand{
			width: 25%;
			float: left;
			text-align: center;
			padding-top: 10px;
		
			@media (max-width: 979px){
				width: 33.33%; // 3 across 
			}
		}
		.title{
			display: block;
			padding-bottom: 40px;
			color: black;
			margin-top: 10px;
			display: none;
		}

		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	} 
	.reviews .grid{
		
		//$width  : 150px;
		
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: 10px;
		
		li{
			//float: left;

			.aggregateReviews{
				width: 100px;
				margin-bottom: 10px;

			}

			a {
				padding: 12px 20px;
				width: 25%;
				color: black;
				border: 1px solid $lightGrey;
				border-width: 1px 0 1px 1px;
				display: block;
				float: left;
				text-align: center;
				text-decoration: none;

				@include box-sizing();

				.h6{
					text-decoration: underline;
				}
				
				@media (min-width: 1200px){
					
				}
				@media (max-width: 979px) and (min-width: 768px){
					padding: 10px 10px;
					.label{ font-size: 13px; }
				}
				
				
				&:hover{
					//color: white;
					background-color: $superLightGrey;
					//border-color: black;
					.h6{
						text-decoration: none;
					}
				}
			}

			&:first-child a{
				border-left: 0px; // First element dosen't need a border
			}

			@media (max-width: 767px){
				&:first-child{
					a{
						border-top-width: 1px;
					}
				}
				a{
					text-align: left;
					padding: 10px 50px 10px 10px;
					float: none;
					width: 100%;
					border-width: 0 0 1px;

				}
			}
		} 
	} 
}


// This is a little out of charecter for the code base
// but rather than put this in global, I'm trying it out here
// it's used on the home page and on the category page
.categories{

	$spaceBetweenRows : 10px;
		
	width: 100%;
	float: left;

	.links{
		
		background-color: white;
		text-align: center;
		font-size: 13px;

		.more{
			font-weight: bold;
			&:before, &:after{
				content: ' - ';
			}
		}
	}

	.title{
		overflow: hidden;
		position: relative;
		display: block;
		text-decoration: none;
		color: black;
	}
	.category{
		
		float: left;
		width: 25%;
		height: 300px;
		border-bottom: 1px solid $lightGrey;
		padding-bottom: $spaceBetweenRows;
		margin-bottom: $spaceBetweenRows; // Space between rows
		position: relative;

		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}

		&:hover{
			// img{ 
			//	bottom: 10px;
			// }
		}
		&:after{ // Line between columns
			position: absolute;
			right: 0px;
			top: (65px + $spaceBetweenRows);
			height: 100px;
			display: block;
			//background-color:red;
			border-right: 1px solid $lightGrey;
			content: ' ';
		}


		// This hides the right border from the 4th, 8th and 12th element
		// with nth-of-type this wouldnt' be nessesary, but the + selector
		// is IE8 safe
		&:first-child + .category + .category + .category:after,
		
		&:first-child + .category + .category + .category 
			+ .category + .category + .category + .category:after,
		
		&:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category:after,

		&:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category:after,

		&:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category:after,

		&:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category:after{
			border-right-width: 0;
		}
	}

	img{

		position: absolute;
		bottom: 0px;
		z-index: -1;
		left: 50%;
		margin-left: -60px;

		@include transition(bottom .1s);

	}

	h3{
		margin: (90px + $spaceBetweenRows) 20px 0; // Margin-top is the space between the picture and the title
		background-color: $superLightGrey;
		border: 1px solid $lightGrey;
		padding: 5px 0;
		text-align: center;
		border-width: 1px 0;
		z-index: 1;
	}

}