.map{
	padding-bottom: 10px;
}

.letterFormat{
	width: 800px;
	margin: auto;
	@media (max-width: 767px){
		width: 100%;
	}
	@media (max-width: 979px) and (min-width: 768px){
		width: 100%;
	}

	ul.list, ol.list{
		margin-left: 20px;
	}

	.pull-left{
		float: left;
	}

	.push-right{
		float: right;
	}

	img.pull-left{
		padding-right: 10px;
		position: relative;
		left: -10px;
	}
	img.push-right{
		padding-left: 10px;
		position: relative;
		right: -10px;
	}
}