.page-home{

	#mainSlider{
		
		overflow: hidden;
		height: $flyoutHeight - 20;
		margin-left: 270px;
		width: 690px; // width + margin-left = pagewidth
		@media (max-width: 767px) {
			margin-left: 0;
			width: 90%;
		}
		position: relative;

		.ad{
			@include box-sizing();;
			position: relateve;
			margin-left:0;
			padding: 20px 40px;
			height: 460px;
			width: 690px;
			outline: 1px solid red;
			float: left;

			.banner {
				position: absolute;
				right: 0;
				max-width: 100%;
				z-index: 1;
			}

			.content {
				position: relative;
				width: 55%;
				z-index: 2;

				ul {
					float: left;
					width: 50%;
					margin: 0;
					padding: 0;
				}
			}

			.description {
				font-size: 1.25em;
				line-height: 1.5em;
			}

			.list li {
				margin-bottom: 1em;
			}

			.b2 {
				float: left;
				margin-top: 2em;
				padding: 10px 15px;
				clear: both;
				&:after {
					content: " \2192";
				}
			}
		}

		// Ad width when large desktop
		@media (min-width: 1200px){
			
			margin-left: 275px;

			&, .ad{
				width: 925px;
			}
		}

		@media (max-width: 979px) and (min-width: 768px){
			&, .ad{
				width: 475px;
			}
		}

		@media (max-width: 767px){
			&, .ad{
				width: 727px;

				.banner {
					position: static;
					max-height: 180px;
				}
			}
		}

		@media (max-width: 520px){
			&, .ad{
				width: 480px;

				.banner {
					position: static;
					max-height: 140px;
				}
			}
		}

		@media (max-width: 400px){
			&, .ad{
				width: 360px;

				.banner {
					position: static;
					max-height: 100px;
				}
			}
		}

		.arrow-holder{
			margin-top: -16px;
			z-index: 3;
		}

		.ad:first-child{
			background-color: $white;
		}
		.ad + .ad { background-color: pink; }
		.ad + .ad + .ad{ background-color: orange; }
	}

	// Take the border off the bottom row
	.category:first-child + .category + .category + .category 
		+ .category + .category + .category + .category + .category
		~ .category{
			border-bottom-color: transparent;
	}

	@media (min-width: 1200px){
		// at large desktop, we go 4 across, meaning we need to drop the 9th bottom border
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			~ .category{
				border-bottom-color: transparent;
		}

	}

	@media (max-width: 979px) and (min-width: 768px){
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category ~ .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}

		.businessAd, .productAd{
			float: none;
			display: block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 40px;
		}
	}

	@media (max-width: 767px) and (min-width: 521px){
		// Always show the border for mobile
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category ~ .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}
	}

	/*@media (max-width: 520px){
		// Just hide the last one
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}
	}*/
}