.ad .price{
	background-color: $yellow;
	padding: 7px 10px;
	display: block;
	margin-top: 5px;
	@include border-radius(5px);
	float: left;
	clear: both;
	position: relative;
	font-size: 13px;

	.productGrouping{
		font-size: 11px;
		position: absolute;
		bottom: 3px;
		right: -155px;
		width: 150px;
		top: 50%;
		margin-top: -7px;
	}
}

.page-home{

	#mainSlider{
		
		overflow: hidden;
		height: $flyoutHeight - 20;
		margin-left: 270px;
		width: 690px; // width + margin-left = pagewidth
		@media (max-width: 767px) {
			margin-left: 0;
			width: 90%;
		}
		position: relative;

		.ad{
			@include box-sizing();;
			position: relateve;
			margin-left:0;
			padding: 20px 40px;
			height: 460px;
			width: 690px;
			outline: 1px solid red;
			float: left;


			.banner {
				position: absolute;
				max-width: 100%;
				z-index: 1;
			}

			.content {
				position: relative;
				width: 55%;
				z-index: 2;

				ul {
					float: left;
					width: 50%;
					margin: 0;
					padding: 0;
				}
			}

			.price:before {
				width: 0;
			}

			&.slide-banner-right {
				.banner {
					right: 0;
				}
				.price{
					right: 75px;
				}
			}
			&.slide-banner-left {
				.content {
					float: right;
				}
				.banner {
					left: 0;
				}
				//These price labels will probably need to be updated on an image by image basis
				.price{
					left: 60px;
					&:before{
						border: px(8px) solid transparent;
						border-top: px(8px) solid black; 
						right: 0;
					}
				}
			}

			.description {
				font-size: 1.25em;
				line-height: 1.5em;
			}

			.list li {
				margin-bottom: 1em;
			}

			.b2 {
				float: right;
				margin-top: 2em;
				padding: 10px 15px;
				clear: both;
				&:after {
					content: " \2192";
				}
			}

			.price{
				position: absolute;
				z-index: 3;
				&:before{
					content: "";
					position: absolute;
				}
			}

		}

		// Ad width when large desktop
		@media (min-width: 1200px){
			
			margin-left: 275px;

			&, .ad{
				width: 925px;
				.content {
					width: 60%;
				}
				.price {
					top: 30px;
					&:before{
						border: px(8px) solid transparent;
						border-top: px(8px) solid black; 
						top: 40px;
						left: 0;
					}
				}
			}
		}

		@media (min-width: 980px) and (max-width: 1199px){
			&, .ad{
				.price {
					top: 30px;
					&:before{
						border: px(8px) solid transparent;
						border-top: px(8px) solid black; 
						top: 40px;
						left: 0;
					}
				}

				.b2 {
					margin: 55px 35px 0 0;
				}
			}
		}
		@media (max-width: 979px) and (min-width: 768px){
			&, .ad{
				width: 475px;
				padding: 10px;
				.banner {
					bottom: 15px;
					max-width: 50%;
				}
				.content {
					float: none;
					width: 100%;
				}
				.features ul {
					float: none;
				}
				.price {
					bottom: 0;
				}

				.b2 {
					float: left;
				}
			}
		}

		@media (max-width: 767px){
			.ad .b2 {
				margin-right: 35px;
				margin-top: 45px;
			}
		}

		@media (max-width: 520px){
			&, .ad{
				width: 480px;
				.banner {
					position: static;
					max-width: 100%;
					max-height: 200px;
					float: right;
				}
				.content {
					float: none;
					width: 100%;
				}
				.description {
					display: none;
				}
				.b2 {
					margin-top: 0;
				}
			}
			.ad.slide-banner-right .price {
				right: 65px;
				top: 0;
				&:before{
					border: px(8px) solid transparent;
					border-top: px(8px) solid black; 
					left: -20px;
				}
			}
		}

		@media (max-width: 400px){
			&, .ad{
				width: 360px;
				.banner {
					position: static;
					max-width: 100%;
					max-height: 200px;
					float: right;
				}
				.content {
					float: none;
					width: 100%;
				}
				.description {
					display: none;
				}
				.b2 {
					margin-top: 0;
				}
			}
		}

		.arrow-holder{
			margin-top: -16px;
			z-index: 3;
		}

		.ad + .ad + .ad{ background-color: orange; }
	}

	// Take the border off the bottom row
	.category:first-child + .category + .category + .category 
		+ .category + .category + .category + .category + .category
		~ .category{
			border-bottom-color: transparent;
	}

	@media (min-width: 1200px){
		// at large desktop, we go 4 across, meaning we need to drop the 9th bottom border
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			~ .category{
				border-bottom-color: transparent;
		}

	}

	@media (max-width: 979px) and (min-width: 768px){
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category ~ .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}

		.businessAd, .productAd{
			float: none;
			display: block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 40px;
		}
	}

	@media (max-width: 767px) and (min-width: 521px){
		// Always show the border for mobile
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category ~ .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}
	}

	/*@media (max-width: 520px){
		// Just hide the last one
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}
	}*/
}