.ad .price{
	background-color: $yellow;
	padding: 7px 10px;
	display: block;
	margin-top: 5px;
	@include border-radius(5px);
	float: left;
	clear: both;
	position: relative;
	font-size: 13px;

	.productGrouping{
		font-size: 11px;
		position: absolute;
		bottom: 3px;
		right: -155px;
		width: 150px;
		top: 50%;
		margin-top: -7px;
	}
}


@media (max-width: 767px) {
	html[data-path*=".com/-END"],
	html[data-path*=".com/?"]{

		// Force it open on the home page
		#mainFlyout{
			margin-top: 680px;
			display: block !important;
			height: auto;
			.wrapper{
				height: auto !important;
			}

		}
	}
}


@media (max-width: 600px) {
	html[data-path*=".com/-END"],
	html[data-path*=".com/?"]{

		// Force it open on the home page
		#mainFlyout{
			margin-top: 600px;

		}
	}
}


.page-home{

	.sliderContainer{
		width: 100%;

		@media (max-width: 767px) {
			position: absolute;
			top: 65px;
			left: 0;

			padding: 5px 0 10px;

			@include box-shadow-multiple(0 3px 6px -3px $grey inset, 0 -3px 6px -3px $grey inset);
		}
	}

	#mainSlider{
		
		overflow: hidden;
		height: $flyoutHeight - 20;
		margin-left: 270px;
		width: 690px; // width + margin-left = pagewidth
		position: relative;
		@include box-sizing();

		.ad{
			@include box-sizing();
			position: relative;
			margin-left:0;
			padding: 20px;
			height: 460px;
			width: 690px;
			float: left;


			.banner {
				position: absolute;
				max-width: 100%;
				z-index: 1;
			}

			.content {
				position: relative;
				width: 60%;
				z-index: 2;

				ul {
					float: left;
					width: 50%;
					margin: 0;
					padding: 0;
				}
			}
			a {
				color: #000;
			}
			.price:before {
				width: 0;
			}


			&.slide-banner-right {
				.banner {
					right: 20px;
				}
				.price{
					right: 75px;
				}
			}
			&.slide-banner-left {
				.content {
					float: right;
				}
				.banner {
					left: 0;
				}
				//These price labels will probably need to be updated on an image by image basis
				.price{
					left: 60px;
					&:before{
						border: px(8px) solid transparent;
						border-top: px(8px) solid black; 
						right: 0;

						// Hide the arrow on mobile
						@media (max-width: 767px){
							display: none;
						}

					}
				}

				a:hover {
					.price:before {
						border-top-color: $yellow;
					}
				}
				.b2 {
					float: left;
				}
			}

			.description {
				font-size: 1.25em;
				line-height: 1.5em;
				margin: 1em 0;
			}

			.list li {
				margin-bottom: .5em;
			}

			.b2 {
				float: right;
				margin-top: 2em;
				padding: 10px 15px;
				clear: both;
				&:after {
					content: " \2192";
				}
			}

			.price{
				position: absolute;
				z-index: 3;
				&:before{
					content: "";
					position: absolute;
				}
			}

		}

		// Ad width when large desktop
		@media (min-width: 1200px){
			
			margin-left: 275px;

			&, .ad{
				width: 925px;
				.slide-content-title {
					padding-top: 31px;
				}
				.content {
					width: 60%;
				}
				.price {
					top: 30px;
					&:before{
						border: px(8px) solid transparent;
						border-top: px(8px) solid black; 
						top: 40px;
						left: 0;
					}
				}

				a:hover .price:before {
					border-top-color: $yellow;
				}
				.ad.slide-banner-left{
					.banner{
						padding-left: 50px;
					}
					.add-image, .price{
						float: left;
						margin-top: 30px;
					}
					.price{
						margin-left: 50px;
					}
				}
				.ad.slide-banner-right{
					.banner{
						padding-right: 50px;
					}
					.add-image, .price{
						float: right;
						margin-top: 30px;
					}
					.price{
						margin-right: 50px;
					}
				}
			}
		}

		@media (min-width: 980px) and (max-width: 1199px){
			.ad{
				.slide-content-title {
					padding-top: 31px;
				}
				.price {
					top: 30px;
					&:before{
						border: px(8px) solid transparent;
						border-top: px(8px) solid black; 
						top: 40px;
						left: 0;
					}
				}

				a:hover .price:before {
					border-top-color: $yellow;
				}

				.b2 {
					margin: 15px 35px 0 0;
				}
			}
		}
		@media (min-width: 768px) and (max-width: 979px) {
			&, .ad{
				width: 475px;
			}	
			.ad{
				padding: 10px 18px;
				height: 410px;
				
				.slide-content-title img {
					max-height: 80px;
				}

				.banner {
					bottom: 15px;
					max-width: 50%;
				}
				.content {
					float: none;
					width: 100%;
				}
				.features ul {
					float: left;
					clear: both;
				}
				.price {
					display: none;
				}

				.b2 {
					float: left;
					margin-top: 1em;
				}
			}
			.slide-banner-left.ad {
				.content {
					float: none;
				}
				.add-image {
					right: 0;
					bottom: 0;
					position: absolute;

					img {
						position: static;
						max-width: 85%;
						float: right;
					}
				}
			}
		}

		@media (max-width: 767px) {
			margin-left: 0;
			width: 650px;
			margin: 0 auto;
			.ad {
				width: 650px;
				.slide-content-title img {
					padding-top: 31px;
				}
				.banner {
					max-width: 50%;
				}
			}
			.ad .b2 {
				margin-right: 35px;
				margin-top: 15px;
			}
			.arrow-holder .right {
				right: -15px;
			}
			.ad.slide-banner-right .content{
				float: left;
			}
		}

		@media (max-width: 690px){
			&, .ad {
				width: 610px
			}
			.ad .banner {
				max-width: 45%;
			}
			.ad.slide-banner-right .banner {
				right: 0;
			}
		}

		@media (max-width: 650px){
			&, .ad {
				width: 570px
			}
		}

		@media (max-width: 610px){
			&, .ad {
				width: 530px
			}
			.ad.slide-banner-right .banner {
				right: 0;
				//height: 60%;
			}
		}

		@media (max-width: 570px){
			&, .ad {
				width: 480px
			}
		}

		@media (max-width: 600px){
			&, .ad, #mainSlider{
				width: 460px;
				height: 350px;
			}
			& {
				margin: 0 auto;
			}
			.ad{
				.banner {
					position: static;
					max-width: 40%;
					float: right;
					top: 20px;
					right: 20px;
				}
				.slide-content-title img {
					margin-top: 0px;
				}
				.features {
					display: none;
				}
				.b2 {
					margin-top: 0;
				}
				.content{
					width: 100%;
					top: -170px;
				}
			}
			.price {
				display: none;
			}
		}

		@media (max-width: 500px){
			.slide-content-title img {
				max-height: 26%;
				max-width: 100%;
			}
			&, .ad{
				width: 430px;
			}
			.ad .content{
				top: -130px;
			}
		}

		@media (max-width: 470px){
			.slide-content-title img {
				max-height: 26%;
				max-width: 100%;
			}
			&, .ad{
				width: 400px;
			}
		}

		@media (max-width: 440px){
			&, .ad{
				width: 360px;
			}
		}

		@media (max-width: 400px){
			&, .ad{
				width: 360px;
			}
			&{
				margin: 0 auto;
			}
			.ad{
				.banner {
					max-height: 47%;
					max-width: 100%;
				}
				.content {
					float: none;
					width: 100%;
				}
				.features {
					display: none;
				}
				.b2 {
					margin-top: 0;
				}
			}
			.arrow-holder {
				display: none;
			}
		}

		@media (max-width: 360px){
			&, .ad{
				width: 320px;
			}
		}

		.arrow-holder{
			margin-top: -16px;
			z-index: 3;
		}

	}

	// Take the border off the bottom row
	.category:first-child + .category + .category + .category 
		+ .category + .category + .category + .category + .category
		~ .category{
			border-bottom-color: transparent;
	}

	@media (min-width: 1200px){
		// at large desktop, we go 4 across, meaning we need to drop the 9th bottom border
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			~ .category{
				border-bottom-color: transparent;
		}

	}

	@media (max-width: 979px) and (min-width: 768px){
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category ~ .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}

		.businessAd, .productAd{
			float: none;
			display: block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 40px;
		}
	}

	@media (max-width: 767px) and (min-width: 521px){
		// Always show the border for mobile
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category ~ .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}
	}

	@media (max-width: 767px){
		.productAd {
			position: absolute;
			top: 540px;
			margin: 0 3% !important;
			width: 94%;
			left: 0;
		}
		.productAd ~ .productAd{ display: none } 
		.content{
			top: -30px;
		}
		.featuredCategories h2{
			position: absolute;
			top: 670px;
		}
	}

	@media (max-width: 600px){
		.productAd {
			top: 450px;
		}
		.featuredCategories h2{
			position: absolute;
			top: 600px;
		}
	}

	/*@media (max-width: 520px){
		// Just hide the last one
		.category{ border-bottom-color: $lightGrey !important; }
		.category:first-child + .category + .category + .category 
			+ .category + .category + .category + .category
			+ .category + .category + .category + .category{
				border-bottom-color: transparent !important; // The important! solves the over specificity of the + and ~ selectors
		}
	}*/
}



// Carosuel
// some of the features are scattered in form.scss and icons.scss

.tc-paging-container {	
	margin-top: -22px;
}
.tc-paging-item{
	width: 24px;
	height: 24px;
	text-decoration: none;
	&:before {
		content: '.';
		position: absolute;
		top: -35px;
		left: 0;
		font-size: 98px;
		color: $lightGrey;
		text-indent: 0;
	}
	&:hover:before, &.current:before{
		color: black;
	}
}
.tc-paging-item.current {
	color: black;
}
.tc-paging-container {
	margin-top: -25px;
}
.tc-paging-centerer-inside {

}

