/* Product Detail Page */
.page-productDetail{
	h1{
		position: relative;
		top: 3px;
	}
    .b3{
        float: left;
    }
	.head .aggregateReviews, .head > .details{
		position: relative;
		top: -10px;
		
	}
	.isAuthorized{
		
		&:after{
				content: ' ';
				width: 141px;
				height: 24px;
				display: inline-block;
				margin-left: 10px;
				position:relative;
				top:8px;
				@include lsp-sprite-background();
				background-position: -254px -223px;
			}	
	}
    
    .byline{
        float:right;
        display: block;
        color: $grey;
        text-transform: uppercase;
        text-align: right;
        padding-right: px(columns(1) + $gutterWidth);
        position: relative;
        font-size: 12px;
        margin: px($gutterWidth);
        margin-right: 0;
        line-height: 1.5em;
        .author{
            font-size: 14px;
            text-transform: none;
            color: $black;
            font-weight: bold;
            display: block;
            &:after{
                @include border-radius(px(columns(1)));
                content: ' ';
                display: block;
                position: absolute;
                top: px(-$gutterWidth/2);
                right: 0;
                width: px(columns(1));
                height: px(columns(1));
            }
            &[data-author="michael"]:after{ 
				background-image:url("http://www.gravatar.com/avatar/77940a61b2dec54ca9b1bdf8e17c10f5?s=64&d=identicon");
			}
        }
    }
    
    .media{ 
      
      /* The left hand side containing giant picture, video and audio links */
        
		@media (min-width: 1200px){
			/* Max width */
			width: 460px;
		}
        
        li{ 
            display: block;
            clear:both;
            margin-top: px(2 * $paddingUnit);
            @include clearfix;
        }
        .videos{
            label{ 
                display: inline-block;
                position:relative; 
                margin-left: px($paddingUnit);
                left: px(32px + 2 * $paddingUnit);
            }
            label:before{
				@include lsp-sprite-background();
                background-position: -8px -433px;
                content: '';
                display: inline-block;
                position: absolute;
                left: px(-(32px + ($paddingUnit * 2)));
                top: px($paddingUnit);
                width: px(32px);
                height: px(32px);
            }
            .video{
                //width: px(columns(6) - $gutterWidth);
				width: 100%;
                padding: px(2* $paddingUnit);
                border: 1px solid $lightGrey;
                background-color: $superLightGrey;
                label{ margin-top: px($paddingUnit); }
                iframe{ width: 100%; }
            }
        }
        .images{
			
			margin-top: 0;
			padding-bottom: 25px;
			
			@media (max-width: 767px){
				border-bottom: 0;
			}
			
            #zoom-mainImage{
				display: block;
            }
            .zoom-thumbnails{
				position: relative;
                &:before{
					content : 'Hover over image to zoom';
					@media (max-width: 767px){
						content : ' ';
						display: none;
					}
                    font-style: italic;
                    display: block;
					position: absolute;
					top: -1.5em;
					height: 1.5em;
                    margin: px($paddingUnit) 0;
					text-align:center;
					font-size:13px;
                    color: $grey;
					padding-left: 23px;
					@include lsp-sprite-background();
					background-position: -71px -406px;
                }
                a{
					vertical-align: bottom;
					
					img{
	                    border: 1px solid $lightGrey;
	                    &:hover{
	                        @include box-shadow-multiple(0 0 px(3px) 0 $darkYellow);
	                        border-color: $darkYellow;   
	                    }
	                }	
                }
                li{ 
                    display:inline-block;  
                    margin-right: $gutterWidth;
                    clear: none;
                    float:left;
                }
                @include clearfix;
            }
        }
        
    }
   
    .section{
		
        padding-bottom: px(3 * $paddingUnit);
        border-top: 1px solid #dedcda;
		
		&.dynamicItemSuggestions{
			padding-bottom: 0;
		}
		
        &:first-child{ border-top-width: 0; }
        
        > .b3[data-reveal-children]{ /* The plus/minus toggle button */
            margin-top: 10px;
			margin-right: px(2 * $paddingUnit);
            overflow: hidden;
            float:left;
            text-indent: px(-$hideDistance);
            width: px(32px);
            height: px(32px);
			padding: 0;
			position: relative;
			margin-left:0;
			line-height:200px;
			
			@media (max-width: 980px){
				float: right;
			}
			
        }
        > h2{  /* Section headers */
			padding-top: 3px;
			margin-bottom: 0;
        }
        label{ 
            //display: block;
            //float: left;
			//line-height: 19px;
            .details{ display: block; }
            
        }
        .content{ 
			padding-top: 10px;
            clear: both;
            float: left;
            width: 100%;
			@include box-sizing();
        }
        @include clearfix;
        
    }
	
	.addRelatedItems{
		padding-bottom:0;
	}
	
    .information{
        
        position: relative;
		margin-top: -1.5em;
		
		@media (max-width: 767px){
			top: 0;
		}
		
		@media (min-width: 1200px){
			width: 680px;
		}
        
    }
    .description{
		.content{ 
			max-width: 550px; 
		
			@media (min-width: 767px){
				padding-left: 10px;
			}
		
		} // Maintains readability of text
        @include clearfix;
    }
	.features .content{
		padding-left: 10px;
	}
}