/* Search Results */
.page-search{
	
	.title{
		float:right;
		text-align:left;
		strong{ color: black; }
		.details{
			font-size: 14px;
		}
		.totalPages{
			&:before{
				content: ' (';
			}
			&:after{
				content: ' pages)';
			}
		}
	}
	
	
	// Actual search results
	.results{
		
		.tabs{
			font-size: 13px;
			margin-top: -1em;
			margin-right: px($paddingUnit);
			
			li{
				top: 1px;
				float: right;
				position:relative;
			}
			
			.b1, .b2, .b3, .b4, .b5, a{
				
				border: 1px solid $lightGrey;
				@include border-radius(px($borderRadius) px($borderRadius) 0 0);
				background-color: $white;
				padding: px(2*$paddingUnit) px(4 * $paddingUnit) px(2*$paddingUnit) px(40px);
				text-decoration: none;
				
				&:after{
					left: px(10px);
				}
				
			}
			
			button[data-action="showCompact"],
			button[data-action="showDetails"]{
				margin-left: -1px;
			}
		}
		
		
		.controls{
			
			z-index: 1;
			border: 1px solid $lightGrey;
			background-color: $superLightGrey;
			border-width: 1px 0;
			float: left;
			width: 100%;
			padding: px(2 * $paddingUnit) 0;
			
			li{
				float: right;
				margin-right: 50px;
				@media (max-width: 979px){
					margin-right: 25px;
				}
				&:first-child{
					float: left;
				}
				&.pagination{
					margin-right: px($paddingUnit);
				}
				
			}
			label{
				float: left;
				clear: none;
				margin-top: .5em;
				margin-right: px($paddingUnit);
				font-weight: normal;
				font-size: 13px;
				@media (max-width: 979px){
					display: none;
				}
			}
			
			select{
				float: left;
				clear: none;
				font-weight: normal;
				font-size: px(13px, $inputFontSize);
				margin-top: px(1px);
				height: px(35px);
				width: inherit;
				max-width:200px;
				font-size: 13px;
			}

			.pageCount{
				font-style: italic;
				color: $grey;
			}
			button[data-action='compare']{
				margin-top: px(-1px);
				.count{
					font-weight: normal;
				}
			}
			
		}
		
		.foot .controls{
			margin-top: -1px;
		}
		
		@media (max-width: 979px){
			.reviewCountLabel{
				display: none;
				background-color:red;
			}
		}
		
		.searchResults{
			
			.entry{
				position: relative;
				display: block;
				padding-top: px($gutterWidth / 2);
				padding-bottom: px($gutterWidth);
				border-bottom: 1px solid $lightGrey;
				float:left;
				@media (max-width: 767px){
					padding-bottom: 60px;
				}
				@media (max-width: 400px){
					padding-bottom: 85px;
				}
			}
			.productPrice{ font-size: px(19px); }
			.productName{ 
				font-size: px(15px);
			}
		
			.features .list{
				color: black;
			}
		
		}
	}

	// Two Styles of views
	.listView{
		
		.listScope{
			clear: both;
			display: block;
			float: left;
		}
		
		// The list tab - make it look 'active'
		.tabs .icon-24-list{
			border-bottom: 1px solid $superLightGrey;
			background-color: $superLightGrey;
			color: black;	
		}
		
		.entry{
			padding-left: 165px;
			
			@media (min-width: 1200px){
				padding-left: px(columns(3));
			}
			
			float: left; 

			width: 100%;
			@include box-sizing();
			
			&:last-child{
				border-bottom: none;   
			}
			
		}
		.model{
			display:block;
			margin-bottom: px($paddingUnit * 2);
			@media (max-width: 979px){
				margin-bottom:0;
			}
		}
		.aggregateReviews{
			margin-bottom: px($paddingUnit * 2);
		}
		.thumbnail{
			float: left;
			margin-right: px($paddingUnit);
			position: absolute;
			top: 10px;
			left: 0;
			width: 160px;
			height: 160px;
			img{
				width: 100%;
			}
			@media (min-width: 1200px){
				width: 203px;
			}
			
		}
		.searchResults .compare{
			position: absolute;
			top: px(170px);
			left: px(10px);
			@media (min-width: 1200px){
				top: px(columns(3));
			}
			.b5{
				margin-top:2px;
			}
		}
		.addToCart{
			
			float: right;
			width: 40%;
			min-width: 170px;
			margin-left: px(2 * $paddingUnit);
			margin-bottom: 0;
			
			.status{ display: inline; }
			.method{ display: block; }
			.option, .quantity, .action{ text-align:right; }
			
			@media (max-width: 979px) and (min-width: 768px){
				.productAvailability .details,
				.price .details{
					display:none;
				}
			}
		}
	}
	
	.gridView{
		
		$_topOfPrice : 350px;
		
		.listScope{
			clear: both;
			display: block;
			float: left;
		}
		
		// Make the grid tab look active
		.tabs .icon-24-compact{
			border-bottom: 1px solid $superLightGrey;
			background-color: $superLightGrey;
			color: black;	
		}
		
		.entry{
			clear:none;
			padding: 0 px(7px);
			width: 33%;
			@include box-sizing();
			
			@media (min-width: 1200px){
				width: 25%;
			}
			
			height: px(500px);
			border: 1px solid $lightGrey;
			border-top: none;
			border-left: none;
			margin-bottom: 0;
			left: -1px;
		   
			@media (min-width: 767px) and (max-width: 1199px){
				&:nth-child(3n - 2){
					border-left-color: transparent;
				}
				&:nth-child(3n + 3){
					border-right-color: transparent;
				}
			}
			@media (min-width: 1200px){
				&:nth-child(4n - 3){
					border-left-color: transparent;
				}
				&:nth-child(4n + 4){
					border-right-color: transparent;
				}
			}
		}
		img{
			width: 100%;
			/*
			@media (min-width: 1200px){
				width: 200px;
				height: 200px;
			}*/
		}
		.compare{
			float: none;
		}
		.aggregateReviews{
			position: absolute;
			top: px($_topOfPrice + 50px);
			left: $paddingUnit;
			
		}
		.productName{
			height: 6em;
			text-overflow: ellipsis;
		}
		.model, .features{
			display: none;
		}
		.addToCart{
			
			position: absolute; 
			top: 0;
			left: -$hideDistance;
			margin:0;
			
			.productPrice{
				font-size: px(17px);
				position: absolute;
				top: px($_topOfPrice, 17px);
				left: $hideDistance + $paddingUnit + 2px;
			}
			.shortStatus{
				display: block;
				font-size: px(13px);
				position: absolute;
				top: px($_topOfPrice + 18px);
				left: ($hideDistance + $paddingUnit + 2);
				width: px(columns(3));
				color: $grey;
			}
			.scroller{
				position: absolute;
				top: px($_topOfPrice + 90px, $inputFontSize);
				left: px($hideDistance + $paddingUnit + 7px, $inputFontSize);
			}
			.b1{
				position: absolute;
				top: px($_topOfPrice + 90px, $boldAllCapsH4);
				left: px($hideDistance + 2 * $paddingUnit + 50px + 7px, $b1FontSize);
				width: px(135px, $b1FontSize);
					@media (max-width: 979px) and (min-width: 768px){
						left: px($hideDistance + 2 * $paddingUnit + 12px, $b1FontSize);
					}
			}
		}
		@media (max-width: 979px) and (min-width: 768px){
			.entry{
				height: 455px;
				.quantity{
					display: none;
				}
				.productPrice,
				.shortStatus,
				.b1,
				.aggregateReviews{
					margin-top:-40px;
				}
			}
		}
		
	}
	
	// Design of the entries on mobile
	// This conceptually should be up within the .results section
	// but there are so many classes in here, it would have created 30 or 40
	// individual media queries
	
	@media (max-width: 767px){
		
		.refinements{
			display: table;
			 #attributeList.reveal-isOpen{
				 display: table;
				 width: 100%;
				 margin-top:41px; // Space between the top of the list and the header
			}
		}
		.searchRefinementsAndResults{
			display: block;
			position:relative;
			float:left;
			width:100%;
		}
		.close,
		.refinements .selectedFilters button[data-action='clearAllRefinements']{
			float:right;
			margin: 10px 10px 15px 0;
		}
		// +/- button for refinements
		.refinements .refineResults{
			display: table-caption; // moes it above the selectedFilters
			min-height:52px;
			float: none;
			@include box-shadow-multiple(none);
			@include border-radius(0);
			border-width: 1px 0;
			margin-bottom: 0;
			padding: 10px 0px 0;
			
			.section{
				background-color: white;
				border-top: 0;
				margin-bottom:0;
				padding: 10px;
				border-bottom: 1px solid $lightGrey;
				
				&:first-child{
					border-top: 1px solid $lightGrey;
				}
				@include box-sizing();
				ul .field{
					margin-left: 0;
					&:first-child{
						margin-top: 0px;
					}
				}
				
				h4{
					position: relative;
					top: 0;
					background-color: transparent;
					float: none;
				}
			
				// The show/collapse buttons for sections
				.toggleRefinements{
					background-color: transparent;
					position: absolute;
					top: 10px;
					right: 10px;
				
				}
			}
			
			h2{ display: none; }
			.b3{
				margin-right: 10px;
				text-indent: px(-$hideDistance);
				width: px(32px);
				height: px(32px);
				padding: 0;
				position: relative;
				margin-left: 0;
				margin-top: 0;
				line-height:200px;
				float: right;
	
			}	
		}
		
		
		
		// The selected filters block below the refinements
		.refinements .selectedFilters{

			@include box-shadow-multiple(inset 0 15px 10px -20px black);
			@include border-radius(0);
			border-top:0;
			border-width: 0 1px 1px;
			background-color: white;
			display: table; // moves it below the refinements
			float: none;
			border-left: 5px solid $yellow;
			
			h2{
				font-size: 13px;
				font-weight: bold;
				font-family: 'Open Sans';
				text-transform: none;
				margin-top: 5px;
			}
			.section{
				margin-top:10px;
				margin-bottom: 0;
				margin-left: 10px;
				@include box-shadow-multiple(none);
			}
		}
		h1{
			margin-bottom:10px;
		}
		.title .details{
			//display: none;
			//position: relative;
			margin-top: -15px;
			display: block;
			font-size: 13px;
			margin-bottom: 10px;
			strong{
				font-weight: normal;
			}
			.numberOfPages{
				display: none;
			}
		}
		.tabs{
			display: none;
		}
		.features{
			display: none;
		}
		.shortStatus{
			display:block;
		}
		
		.listView .thumbnail,
		.gridView .thumbnail{
			width: 100px;
			height: 100px;
		}
		
		.gridView .entry{
			padding-bottom: ;
		}
		.compare{
			display: none;
		}
		.results .searchResults{
			ul{
				width: 100%;
			}
			.entry{
				overflow: hidden;
				padding-left: 110px;
				width: 100%;
			}	
		} 
		.controls .details,
		.head .controls button,
		.control-pagination-itemCount,
		.head .pageCount{
			display: none;
		}
		.head .controls li.control-pagination-sort{
			
			float:left;
			position:absolute;
			top: 10px;
			padding: 0 5px;
			select{
				height: 30px;
				
			}	
		}
		
		.toggleLabel,
		.head .controls li.control-pagination-sort label{
			display: block;
			line-height: 25px;
			padding-top: 4px;
			padding-bottom: 11px;
			padding-right: 5px;
			margin-right: 0;
			margin-top: 0;
		}
		.toggleLabel{
			float:right;
		}
		
		.foot select{
			display: none;
		}
		.pagination{
			position: relative;
			width: 100%;
			margin:0;
		}
		.foot button[data-action="nextPage"]{
			float:right;
			z-index:1;
		}
		.foot .controls button[data-action="previousPage"]{
			margin-left: 5px;
			z-index:2;
		}
		.foot .controls li.pagination{
			width: 100%;
			margin: 0;
		}
		.foot .pageCount{
			float: none;
			overflow: hidden;
			text-align:center;
			position: absolute;
			width:100%;
			left: 0;
			top:5px;
			display: block;
		}
		.results .head .controls{
			background: transparent;
			border: 0;
			padding: 0;
			margin: 0;
			height: 0;
		}
		.addToCart{
			
			position: absolute; 
			bottom: 0;
			right: -$hideDistance;
			margin:0;
			
			.productPrice{
				font-size: px(17px);
				position: absolute;
				bottom: 80px;
				right: $hideDistance + $paddingUnit + 2px;
			}
			.shortStatus{
				display: block;
				font-size: px(13px);
				position: absolute;
				bottom: 60px;
				right: ($hideDistance + $paddingUnit + 2);
				color: $grey;
				width: 300px;
				text-align:right;
			}
			.scroller{
				position: absolute;
				top: px($_topOfPrice + 90px, $inputFontSize);
				right: px($hideDistance + $paddingUnit + 14px, $inputFontSize);
			}
			.b1{
				position: absolute;
				bottom: 10px;
				right: px($hideDistance, $b1FontSize);
				width: px(135px, $b1FontSize);
				display: block;
			}
		}
		
	}
	
	@media (max-width: 400px){
		// Hide the "Sort:" from the iphone - it's too skinny to fit
		.head .controls li.control-pagination-sort label{
			display:none;
		}
	}
	
}






