.page-wishlist{

	min-height: 250px;

	// The top paragraphs and image, and search container -- all the stuff above the results table
	.introduction{
		margin: auto;
		float: none;
		width: 700px;

		@media (max-width: 767px){
			width: 100%;
		}

	}




	.findAnotherWishlist{
		position: absolute;
		top: 10px;
		right: 10px;
	}

	// Paragraphs
	.description{
		margin: 0;
		position: relative;
	}

	.table.wishlist{
		display: none;
		margin-top: 20px;
		float: left;
	}

	.wish-result{
		margin-top: 5px;
	}

	// The create button
	.create{
		
		width: 180px;
		float: left;
		margin: 0;
		position: relative;
		
		&:after{
			content: 'or';
			display: block;
			position: absolute;
			right: -20px;
			top: 10px;
			color: $grey;
		}

		@media (max-width: 767px){
			width: 100%;
			&:after{
				position: static;
				margin: 10px;
			}
		}

	}
	// The search input
	.search{
		margin-left: 35px;
		float: left;
		width: 480px;
		@media (max-width: 767px){
			margin-left: 0;
		}
	}

	.searchWishlists{
		width: 75%;
		float: left;
	}

	.thumbnail{
		float: left;
		padding-right: 10px;
		position: absolute;
		left: 0;
		top: 10px;
	}
	.options, .model{
		display: block;
	}
	.product{
		width: 50%;
		padding-left: 110px;
		position: relative;
		min-height: 120px;
		vertical-align: right;
	}
	.comments{
		width: 25%;
	}

	form{
		clear: both;
		float: right;
		.b1{
			margin-right: 0;
		}
	}
	.productPrice{
		font-size: 19px;
		float: right;
	}
	.productAvailability{
		clear: both;
		float: right;
		margin-bottom: 10px;
	}
	.scroller{
		float: left;
		margin-right: 10px;
	}

	.remove{
		text-align: right;
	}

	.comments .wish-update{
		display: none;
	}

	.resultsHeader{
		clear: both;
		margin-top: 20px;
		float: left;
	}

	.b5{
		font-size: 13px;
	}


}

#wishlist-messages p,
#wishlist-messages > div,
#isPrivate-saveMessage,
.wish-text-saved{
	display: none;
	margin: 0;

	&.h2{
		margin-top: 20px;
	}
}