.page-wishlist{

	padding-bottom: 30px;

	// The top paragraphs and image, and search container -- all the stuff above the results table
	.introduction{
		margin: auto;
		float: none;
		width: 700px;

		@media (max-width: 767px){
			width: 100%;
		}

	}

	.loading{
		min-height: 75px;
		color: $grey;
		padding-top: 10px;

		&:before{
			top: 60px;
		}
	}


	.findAnotherWishlist{
		
		a{
			position: absolute;
			top: 10px;
			right: 10px;
		}
		
		@media (max-width: 767px){
			
			clear: both;

			a{
				position: static;
				float: right;
			}
		}
	}

	// Paragraphs
	.description{
		margin: 0;
		position: relative;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.table.wishlist{
		display: none;
		margin-top: 10px;
		float: left;
		width: 100%;
	}

	.wish-result{
		margin-top: 5px;
	}

	// The create button
	.create{
		
		width: 190px;
		float: left;
		margin: 0;
		position: relative;
		
		&:after{
			content: 'or';
			display: block;
			position: absolute;
			right: -20px;
			top: 10px;
			color: $grey;
		}

		@media (max-width: 767px){
			width: 100%;
			&:after{
				position: static;
				margin: 10px;
			}
		}

	}
	// The search input
	.search{
		margin-left: 35px;
		float: left;
		width: 470px;
		@media (max-width: 767px){
			margin-left: 0;
			width: 100%;
			position: relative;

			.b1{
				position: absolute;
				top: 1px;
				right: 0;
			}
		}

		@include clearfix();
	}

	.searchWishlists{
		width: 75%;
		float: left;
		@media (max-width: 767px){
			width: 100%;
			padding-right: 100px;
		}
	}

	.thumbnail{
		float: left;
		padding-right: 10px;
		position: absolute;
		left: 0;
		//top: 10px; // commented out because firefox was positing it from the top of the table not the cell
	}
	.options, .model{
		display: block;
	}
	
	.product{
		width: 50%;
		padding-left: 110px;
		position: relative;
		min-height: 130px;
		vertical-align: top;
		@media (max-width: 767px){
			min-height: 0;
			width: 100%;
			padding-right: 60px;
		}

		@include box-sizing();
	}

	.addToCart{
		min-width: 200px;
		@media (max-width: 767px){
			margin-top: 10px;
		}
	}

	.comments{
		width: 100%;
		@media (max-width: 767px){
			padding-left: 110px;
			margin-top: 10px;
			width: 100%;
			//padding-right: 100px; // space for price
		}
	}

	form{
		clear: both;
		float: right;
		.b1{
			margin-right: 0;
		}
	}
	.productName{
		font-weight: bold;
		text-decoration: none;
		color: black;
		&:hover{
			text-decoration: underline;
		}
	}
	.productPrice{
		font-size: 19px;
		float: right;
	}
	.productAvailability{
		clear: both;
		float: right;
		margin-bottom: 10px;
	}
	.scroller{
		float: left;
		margin-right: 10px;
	}

	.remove{
		text-align: right;
		@media (max-width: 767px){
			position: absolute;
			top: 10px;
			right: 0;
		}
	}

	.comments .wish-update{
		display: none;
	}

	.resultsHeader{
		clear: both;
		margin-top: 40px;
		float: left;
	}

	.b5{
		font-size: 13px;
	}

	.emptyWishlist{
		text-align: center;
		float: left;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 40px;
	}

	// Search title, hidden until .show()
	h2{
		display: none;
	}

	.resultsContainer{
		float: left;
		clear: both;
		width: 100%;
	}

	@media (max-width: 767px){
		tr{

			float: left;
			width: 100%;
			position: relative;
		}
	}

}

.wishlist-messages > div,
#isPrivate-saveMessage,
.wish-text-saved{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	display: none;
	clear: both;

	&.h2{
		margin-top: 20px;
	}
}

#wish-info label[for="isPublic-true"],
#wish-info label[for="isPublic-true"]{
	max-width: 90%;
}

